.container {
}

.column {
  padding-bottom: 53px;
}

.titleContainer {
}

.title {
  color: #000;
  font-family: 'Barlow', sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 43px 0 53px;
}

.iconTitleLine {
  margin-right: 14px;
}

.totalBar {
  background-color: #000;
  padding: 18px 17px 21px;
}

.totalBarSticky {
  position: sticky;
  top: 78px;
  z-index: 3;
}

.totalBarSubtotal {
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-right: 30px;
}

.totalBarSubtotalPrice {
  color: #ffdb00;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.totalBarSubmitButton {
  border-radius: 4px;
  background: #ffdb00;
  border: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.4px;
  text-transform: uppercase;
  padding: 8px 16px;
  min-width: 200px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.totalBarSubmitButton:hover,
.totalBarSubmitButton:focus,
.totalBarSubmitButton:active {
  background: #d3b701;
}

.productListContainer {
}

.productListContent {
}

.productListContent .trigger {
}

.productListTitle {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.accordionTrigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c9c9c9;
  background: #fff;
  padding: 24px 24px 24px 32px;
  margin-top: -1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.accordionTrigger::before {
  content: '';
  width: 6px;
  height: 100%;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.accordionTrigger--visible {
  background: #fff8cc;
  transition: all 0.3s ease-in-out;
}

.accordionTrigger--visible::before {
  background: #ffdb00;
}

.accordionContent {
  background: #fff;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.accordionContent::before {
  content: '';
  width: 6px;
  height: 100%;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.accordionContent--hidden {
  background: #fff;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease-in-out;
}

.accordionContent--visible {
  background: #fff8cc;
  opacity: 1;
  visibility: visible;
  height: auto;
  transform: scaleY(1);
  transform-origin: top;
  transition: all 0.3s ease-in-out;
}

.accordionContent--visible::before {
  background: #ffdb00;
}

.accordionStateIndicator {
}

.accordionGroup {
}
.accordionLayout {
}

.iconShow {
}

.iconHide {
}

.productListContentContainer {
}

.productListContentHead {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  background: #000;
  padding: 29px 35px 23px 39px;
  position: relative;
  z-index: 2;
}

.productListContentHeadItem {
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  /* text-align: center; */
}

.productListContentHeadItem:not(:first-child):not(:last-child) {
  text-align: center;
}

.productListContentHeadItem:last-child {
  text-align: right;
}

.productListContentBody {
}

.productListProductWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  padding: 32px 30px 23px 27px;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #cdc8c8;
}

.productListProductImageTitle {
  background: #fff8cc;
}

.productListText {
  color: #303030;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.productListProductTitle {
  font-weight: 700;
  padding-left: 32px;
  margin: 0;
}

.productListProductImage {
  object-fit: contain;
  mix-blend-mode: multiply;
  max-width: 154px;
  max-height: 134px;
}

.productListProductCategory {
}

.productListProductVariations {
}

.productListProductVariation {
}

.productListProductPrices {
}

.productListProductPrice {
}

.productListProductQuantityBuy {
}

.productListProductTotalPrice {
}
