.orderExpressContainer {
}

.orderExpressColumn {
  padding-bottom: 53px;
}

.orderExpressTitleContainer {
}

.orderExpressTitle {
  color: #000;
  font-family: 'Barlow', sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.iconTitleLine {
  margin-right: 14px;
}

.orderExpressTotalBar {
  background-color: #000;
  padding: 18px 17px 21px;
}

.orderExpressTotalBarSticky {
  position: sticky;
  top: 94px;
}

.orderExpressTotalBarSubtotal {
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-right: 30px;
}

.orderExpressTotalBarSubtotalPrice {
  color: #ffdb00;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.orderExpressTotalBarSubmitButton {
  border-radius: 4px;
  background: #ffdb00;
  border: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.4px;
  text-transform: uppercase;
  padding: 8px 16px;
  min-width: 200px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.orderExpressTotalBarSubmitButton:hover,
.orderExpressTotalBarSubmitButton:focus,
.orderExpressTotalBarSubmitButton:active {
  background: #d3b701;
}
