:global(.vtex-flex-layout-0-x-flexColChild--product__right-col) {
  .challengeContentWrapper {
    display: flex;
    align-items: center;
  }
}

.challengeContentWrapper {
  &--challenge__summary-shelf-similars {
    grid-area: 1 / 2 / 2 / 3;

    padding-left: 1.03rem;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 1.43rem;
    }
  }

  &--ancora-video {
    display: flex;
    align-items: center;
  }
}
