:global(.vtex-flex-layout-0-x-flexColChild--product__right-col) {
  .challengeContentWrapper {
    display: flex;
    align-items: center;
  }
}

.challengeContentWrapper {
  &--challenge__summary-shelf-similars {
    grid-area: 1 / 2 / 2 / 3;
  }
}
