// COMMON

@import 'variables/all';
@import 'mixins/all';
@import 'extends/all';

@import 'components/account/address';
@import 'components/account/orders';
@import 'components/account/payment-cards';
@import 'components/account/profile';
@import 'components/account/header';
@import 'components/account/menu';
@import 'components/account/general';
@import 'components/account/profile-form';

* {
  scroll-behavior: smooth;
}

:global(.vtex-store-components-3-x-productImagesContainer) {
  > div {
    margin-left: 0 !important;
  }
}

:global(.vtex-slider-layout-0-x-sliderTrack--home__deals) {
  :global(.vtex-slider-layout-0-x-slide--home__deals) {
    &:nth-child(4),
    &:nth-child(2) {
      :global(.vtex-slider-layout-0-x-infoCardTextContainer--home__deals) {
        @include desktop {
          padding: 0 0 0 2.38rem;
        }
      }
    }
  }
}
