// COMMON

@import 'variables/all';
@import 'mixins/all';
@import 'extends/all';

@import 'components/header/main/vtex.login';

// Ajustes da drawer mobile da busca
@import 'components/account/drawer';

// PRODUCT QUESTIONS AND ANSWERS FIX
@import 'components/product/product-questions-and-answers/vtex-modal-fix';

// PRODUCT REVIEW FIX
@import 'components/product/reviews-and-ratings/danger-fix';

// MAIN FONT FIX
@import 'components/main-font-fix';

// SEARCH FIX
@import 'components/search/common/search-fix';

// SITE ZOOM FIX
// ativar somente se necessário!
// @import 'components/site-zoom-fix';

:global(.vtex-slider__base-internal),
:global(.vtex-slider__selector),
:global(.vtex-slider__selector-tooltip) {
  background-color: #40d6c6;
  border-color: #40d6c6;
}

:global(.vtex-search-result-3-x-filterItem) {
  :global(.vtex-checkbox__container) {
    :global(.bg-action-primary) {
      background-color: $color-1;
    }
  }
}

:global(.vtex-search-result-3-x-filterAccordionItemBox) {
  :global(.bg-action-primary) {
    background-color: $color-1;
  }
}
