.flexRow {
  &--home__projects {
    padding-bottom: 58px;
    background-color: #f2f2f2;
    padding-top: 2.25rem;
    margin-bottom: 4.13rem;

    @include tablet {
      padding-bottom: 45px;
    }
  }
}

.flexRowContent {
  &--home__projects {
    @extend %container-large;

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    @include tablet-min {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .stretchChildrenWidth {
        width: 100% !important;
      }
    }
  }
}

.flexCol {
  &--home__projects {
  }
}

.flexColChild {
  &--home__projects {
  }
}
