.sliderLayoutContainer {
  &--home__projects {
    @include tablet {
      padding: 19px 1.6rem 16px;
      overflow: visible;
    }
  }
}

.slideChildrenContainer {
  &--home__projects {
    @include desktop {
      padding: 0 12.5px;
    }
  }
}

.sliderLeftArrow {
  &--home__projects {
    padding: 10px 15px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: unset;
    right: 46px;

    @include tablet {
      top: -29px;
      right: 40px;
      bottom: unset;
    }
  }
}

.sliderRightArrow {
  &--home__projects {
    padding: 10px 15px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: unset;
    right: -15px;

    @media (max-width: 1300px) {
      right: 0;
    }

    @include tablet {
      top: -29px;
      right: 0;
      bottom: unset;
    }
  }
}

.caretIcon {
  &--home__projects {
    width: 13px;
    height: 23px;
    max-height: 100%;
    max-width: 100%;

    @include tablet {
      width: 10px;
      height: 20px;
    }
  }
}
