.infoCardContainer {
  &--home__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background: #f2f2f2;
    border-radius: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

    @include tablet {
      padding: 0 1.6rem;
    }
  }
}

.infoCardTextContainer {
  &--home__projects {
    width: 100%;
    text-align: left;
    padding: 0;
  }
}

.infoCardImageContainer {
  &--home__projects {
    display: none;
  }
}

.infoCardCallActionContainer {
  &--home__projects {
    width: 100%;
    margin: 0;
    text-decoration: none;
    padding-top: 1.5rem;

    @include tablet {
      padding-top: 38px;
    }

    :global(.vtex-button) {
      @include desktop {
        width: 12.5rem;
        border-radius: 0.25rem;
        min-height: 2.37rem;
      }
      width: 100%;
      background: $secondary-pure-500;
      min-height: auto;
      padding: 0.5rem 1rem;
      transition: all 0.3s ease-in-out;
      border: none;
      border-radius: 0;

      &:hover,
      &:active,
      &:focus {
        background: $secondary-dark-700;
        transition: all 0.3s ease-in-out;
      }
    }

    :global(.vtex-button__label) {
      @include text(1rem, $black, $bold);
      font-family: 'Lato';
      text-transform: none;
      line-height: 16px;
      padding: 0 !important;
    }
  }
}

.infoCardHeadline {
  &--home__projects {
    @include text($font-size-sm, $color-c-3, $bold);
    line-height: 1.0625rem;
    margin: 0;

    @include tablet {
      font-size: 12px;
      letter-spacing: 4.8px;
      line-height: 14.63px;
    }
  }
}

.infoCardSubhead {
  &--home__projects {
    @include text($font-size-sm, $text-dark-400, $regular);
    line-height: 1.0625rem;
    margin: 0;

    @include tablet {
      font-size: $font-size-xs;
      letter-spacing: 4.8px;
      line-height: 14.63px;
    }
  }
}

.container {
  &--home__projects {
    width: 100%;
  }
}

.heading {
  &--home__projects {
    @include text(2rem, $high-pure-4, $bold);
    font-family: 'Barlow';
    font-style: italic;
    text-transform: uppercase;
    position: relative;
    margin-top: 3rem;

    @include tablet {
      margin-top: 1rem;
    }

    &::before {
      content: '';
      background: url('assets/svg/icon-info-modal-feature.svg') no-repeat center;
      background-size: contain;
      display: inline-block;
      height: 27px;
      left: -92px;
      position: absolute;
      top: -39px;
      width: 264px;

      @include tablet {
        display: none;
      }
    }
  }
}

.strong {
  &--home__projects {
    @include text($font-size-md + 1, $primary-pure-500, $extra-bold);
    line-height: 21px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin: 0;

    @include tablet {
      font-size: $font-size-xs;
      letter-spacing: 4.8px;
      line-height: 14.63px;
    }
  }
}

.paragraph {
  &--home__projects {
    @include text(1.125rem, $high-pure-4, $regular);
    text-align: left;
    margin: 0;

    @include tablet {
      font-size: 1.125rem;
      line-height: normal;
    }

    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}
