.infoCardContainer {
  &--home__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background: $white;
    border-radius: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

    @include tablet {
      padding: 0 12px;
    }
  }
}

.infoCardTextContainer {
  &--home__projects {
    width: 100%;
    text-align: left;
    padding: 0;
  }
}

.infoCardImageContainer {
  &--home__projects {
    display: none;
  }
}

.infoCardCallActionContainer {
  &--home__projects {
    width: 100%;
    margin: 0;
    text-decoration: none;
    padding-top: 43px;

    @include tablet {
      padding-top: 38px;
    }

    :global(.vtex-button) {
      background: $primary-pure-500;
      border-radius: 6px;
      min-height: auto;
      padding: 16px 48px;
      transition: all 0.3s ease-in-out;
      border: none;

      &:hover,
      &:active,
      &:focus {
        background: $primary-dark-700;
        transition: all 0.3s ease-in-out;
      }
    }

    :global(.vtex-button__label) {
      @include text($font-size-md, $white, $bold);
      text-transform: none;
      line-height: 16px;
      padding: 0 !important;
    }
  }
}

.infoCardHeadline {
  &--home__projects {
    @include text($font-size-sm, $color-c-3, $bold);
    line-height: 1.0625rem;
    margin: 0;

    @include tablet {
      font-size: 12px;
      letter-spacing: 4.8px;
      line-height: 14.63px;
    }
  }
}

.infoCardSubhead {
  &--home__projects {
    @include text($font-size-sm, $text-dark-400, $regular);
    line-height: 1.0625rem;
    margin: 0;

    @include tablet {
      font-size: $font-size-xs;
      letter-spacing: 4.8px;
      line-height: 14.63px;
    }
  }
}

.container {
  &--home__projects {
    width: 100%;
  }
}

.heading {
  &--home__projects {
    @include text($font-size-md + 1, $low-pure, $regular);
    line-height: 21px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 52px;

    @include tablet {
      display: none;
      font-size: $font-size-xs;
      letter-spacing: 4.8px;
      line-height: 14.63px;
    }
  }
}

.strong {
  &--home__projects {
    @include text($font-size-md + 1, $primary-pure-500, $extra-bold);
    line-height: 21px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin: 0;

    @include tablet {
      font-size: $font-size-xs;
      letter-spacing: 4.8px;
      line-height: 14.63px;
    }
  }
}

.paragraph {
  &--home__projects {
    @include text($font-size-md, $high-pure-4, $regular);
    line-height: 20px;
    text-align: left;
    margin: 0;
    padding-right: 80px;

    @include tablet {
      font-size: $font-size-xs;
      line-height: normal;
    }

    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}
