.text1 {
  display: none;
}

.text3 {
  font-size: 0 !important;
  display: flex;
  align-items: center;
  margin-right: 0.125rem;

  &::after {
    content: 'Faltam apenas ';
    color: #000;
    font-family: $secondary-font;
    font-size: $font-size-sm;
    font-weight: $semi-bold;
    line-height: normal;
  }
}

.text4 {
  font-size: $font-size-sm !important;
  color: #000;
  font-family: $secondary-font;
  font-weight: $semi-bold;
  margin: 0;
  padding-top: 12px;
}

.freigthScaleContainer {
  display: flex;
  flex-direction: column;
  box-shadow: none !important;
  padding: 24px 0 1rem !important;
}

.currencyContainer {
  font-weight: $semi-bold;
  font-size: $font-size-sm !important;

  &::after {
    content: ' para você ganhar ';
    color: #000;
    font-family: $secondary-font;
    font-size: $font-size-sm;
    font-weight: $semi-bold;
    line-height: normal;
  }
}

.currencyCode,
.currencyLiteral,
.currencyInteger,
.currencyDecimal,
.currencyFraction {
  color: #000;
  font-family: $secondary-font;
  font-size: $font-size-sm !important;
  font-weight: $semi-bold;
  line-height: normal;
}

.currencyText {
  font-size: 0 !important;

  &::after {
    content: 'frete grátis';
    color: #000;
    font-family: $secondary-font;
    font-size: $font-size-sm;
    font-weight: $semi-bold;
    line-height: normal;
  }
}

.barContainer {
  background: #ffdb00;
  border-radius: 6px;
  height: 100%;
}

.sliderText {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre;
  transform: 0;
  margin: 0px;
  padding-top: 14px;

  @include tablet {
    padding-top: 12px;
  }
}

.sliderContainer {
  background: #000;
  border-radius: 6px;
  height: 16px;
  border: 0;
  max-width: 365px;
  width: 100%;
  margin: 0 auto;
}
