.minicartTitle {
  font-size: 0;
  font-style: normal;
  margin: 0;
  padding: 48px 0 88px 53px;

  @include tablet {
    padding: 38px 23px;
  }

  &::before {
    content: 'MINHAS COMPRAS';
    color: $color-1;
    font-family: $secondary-font;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }
}

.closeIconButton {
  &--all-cart {
    &:not(&--continuar-comprando) {
      position: absolute;
    }
  }
}

.closeIconButton {
  &--continuar-comprando {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: $semi-bold;
    color: $white;
    font-family: $main-font;
    margin: 0 auto 1rem;
    text-decoration: none;
    border: 1px solid $high-light;
    border-radius: 4px;
    transition: all 0.2s;
    box-sizing: border-box;
    background: #bdbdbd;
    text-transform: capitalize;

    &:hover,
    &:active,
    &:focus {
      filter: brightness(0.9);
    }
  }
}

:global(.vtex-rich-text-0-x-wrapper--continuar-comprando) {
  width: 100%;

  :global(.vtex-rich-text-0-x-paragraph--continuar-comprando) {
    margin: 0;
  }

  :global(.vtex-rich-text-0-x-link--continuar-comprando) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 100%;
    font-size: 22px;
    font-weight: $bold;
    color: $white;
    text-transform: uppercase;
    margin: 0 auto;
    text-decoration: none;
    border: 1px solid#bdbdbd;
    border-radius: 6px;
    transition: all 0.2s;
    box-sizing: border-box;
    background: #bdbdbd;

    @include tablet {
      font-size: 20px;
    }

    &:hover,
    &:active,
    &:focus {
      filter: brightness(0.9);
    }
  }
}
