.minicartTitle {
  font-size: 0;
  font-style: normal;
  margin-top: 2.5rem;
  padding: 0 1.5rem 3.31rem 1.5rem;

  &::before {
    content: 'MINHAS';
    color: $color-1;
    font-size: 1.375rem;
    font-weight: 700;
    margin-right: 0.5rem;
  }

  &::after {
    content: 'COMPRAS';
    font-size: 22px;
    color: #4f4f4f;
    font-weight: normal;
  }
}

.closeIconButton {
  &--all-cart {
    &:not(&--continuar-comprando) {
      position: absolute;
    }
  }
}

.closeIconButton {
  &--continuar-comprando {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: $semi-bold;
    color: $white;
    font-family: $main-font;
    margin: 0 auto 1rem;
    text-decoration: none;
    border: 1px solid $high-light;
    border-radius: 4px;
    transition: all 0.2s;
    box-sizing: border-box;
    background: #bdbdbd;
    text-transform: capitalize;

    &:hover,
    &:active,
    &:focus {
      filter: brightness(0.9);
    }
  }
}

:global(.vtex-rich-text-0-x-wrapper--continuar-comprando) {
  width: 100%;

  :global(.vtex-rich-text-0-x-paragraph--continuar-comprando) {
    margin: 0;
  }

  :global(.vtex-rich-text-0-x-link--continuar-comprando) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: $semi-bold;
    color: $white;
    font-family: $main-font;
    text-transform: capitalize;
    margin: 0 auto 1rem;
    text-decoration: none;
    border: 1px solid#bdbdbd;
    border-radius: 6px;
    transition: all 0.2s;
    box-sizing: border-box;
    background: #bdbdbd;

    &:hover,
    &:active,
    &:focus {
      filter: brightness(0.9);
    }
  }
}
