.flexRow {
  &--all-cart {
    padding: 1rem;
  }

  &--minicart-footer {
    box-shadow: none;
    padding: 0.5rem 42px 0 53px;
    background-color: $white;
    position: static;
  }

  &--al-cart-list-row {
    &:not(:last-child) {
      padding-bottom: 68px;
    }
  }
}

.flexRowContent {
  &--all-cart {
    padding: 0;
  }

  &--al-cart-list-row {
    padding: 0 30px 0 50px;
  }

  &--al-quantity {
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
      &:first-child {
        width: 70% !important;

        @media (min-width: $screen-lg-min) {
          justify-content: start;
        }
      }

      &:last-child {
        width: 30% !important;
        align-items: center;
        justify-content: end;
      }
    }
  }
}

.flexCol {
  &--al-cart-image {
    @media (min-width: $screen-lg-min) {
      margin-right: 18px;
    }
  }

  &--al-cart {
    position: relative;
  }
}
