.productVariationsContainer {
  display: none;
}

.productListUnavailableItemsMessage,
.productListAvailableItemsMessage {
  letter-spacing: 0;
  font-weight: $bold;
  font-size: $font-size-md;
  color: $text-color-1-400;
  padding: 1rem;
}

.productName {
  @include text($font-size-sm, #171714, 700);
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 0.5rem;
  display: block;
  font-style: normal;
  max-width: 11.375rem;
}

.productBrandName {
  letter-spacing: 0;
  font-weight: $bold;
  font-size: $font-size-xs;
  color: $text-color-1-500;
  background: transparent;
}

.productPriceCurrency {
  display: none;
}

.productPriceContainer {
  height: 100%;
  display: flex;
  align-items: flex-end;

  .price {
    @include text($font-size-xs, $text-color-1-400, $regular);
    letter-spacing: 0;
  }
}

.unitPriceContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.unitListPrice {
  @include text($font-size-xs, $text-color-1-400, $regular);
  letter-spacing: 0;
  line-height: 1;
  padding-bottom: 0.25rem;

  @include tablet {
    font-size: $font-size-xxs;
  }
}

.unitPricePerUnitCurrency {
  @include text($font-size-md, $text-color-1-500, $regular);
  letter-spacing: 0;
  line-height: 1;

  @include tablet {
    font-size: $font-size-sm;
  }
}

.productVariationsItem {
  @include text($font-size-xs, $text-color-1-500, $normal);
  font-style: normal;
  text-shadow: none;
  margin-bottom: 0.375rem;
}

.removeButton {
  padding: 0;

  .deleteIcon {
    display: none;
  }

  &::before {
    content: url('assets/svg/trash.svg');
  }

  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
  }

  &--al-cart {
    position: absolute;
  }
}

.removeButtonContainer {
  height: 1rem;
  display: flex;
  justify-content: end;
}

.quantitySelectorContainer {
  max-width: 8.99619rem;
  height: 2.375rem !important;
}

.quantitySelectorWrapper {
  display: flex;
  width: 100%;
  height: 2.375rem;
  border: 1px solid #f2eeea;
  border-radius: 4px;

  .inputContainer {
    flex: 1;
    border: 0 !important;
    font-family: $main-font;
    font-weight: $semi-bold;
    font-size: 0.875rem;
    color: #4f4f4f;
    padding: 0;
    background-color: #f2eeea;

    :first-child {
      font-weight: $semi-bold;
      font-size: $font-size-md;
      color: #4f4f4f;
      border: 0 !important;
      font-family: 'arial' !important;
    }
  }
}

.quantitySelectorButton {
  width: 34px;
  background: none;
  border: 0;
  color: #4f4f4f;
  font-size: 0.875rem;
  font-weight: $regular;
  padding: 0;
  transition: all 0.2s;
  background-color: #f2eeea;

  &:hover,
  &:active,
  &:focus {
    background-color: #f2eeea;
  }
}

.unitPriceMeasurementUnit {
  display: none;
}

.productImageContainer {
  &--al-cart-image {
    width: 8.25rem !important;
  }

  .productImage {
    &--al-cart-image {
      height: 9.75rem;
    }
  }
}
