.summarySmallDisclaimer {
  &--al-cart {
    display: none;
  }
}
.summaryItemContainer {
  &--al-cart {
    padding-bottom: 0;

    &:first-child {
      margin-top: 0;
    }

    &:not(:last-child) {
      .summaryItemLabel,
      .summaryItemPrice {
        font-size: 1.25rem;
        font-weight: $regular;
        font-family: $secondary-font;
        color: $black;
      }

      .summaryItemLabel {
        color: #000;
        font-size: 30px;
        font-style: italic;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;

        &::after {
          content: ':';
          margin-right: 0.5rem;
        }
      }

      .summaryItemPrice {
        color: #ffdb00;
        font-size: 30px;
        font-style: italic;
        font-weight: 700;
        line-height: normal;
        text-align: left;
        display: flex;
      }
    }

    &:last-child {
      .summaryItemLabel,
      .summaryItemPrice {
        font-size: 1.25rem;
        font-family: $secondary-font;
        color: $black;
      }

      .summaryItemLabel {
        color: #000;
        font-size: 30px;
        font-style: italic;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;

        &::after {
          content: ':';
          margin-right: 0.5rem;
        }
      }

      .summaryItemPrice {
        color: #ffdb00;
        font-size: 30px;
        font-style: italic;
        font-weight: 700;
        line-height: normal;
        text-align: left;
        display: flex;
      }
    }
  }
}

.summarySmallContent {
  &--al-cart {
    padding-bottom: 28px;
  }
}
