.minicartTitle {
  font-size: 0;
  font-style: normal;

  &::before {
    content: 'MINHAS';
    color: $color-1;
    font-size: 1.375rem;
    font-weight: 700;
    margin-right: 0.5rem;
  }

  &::after {
    content: 'COMPRAS';
    font-size: 22px;
    color: #4f4f4f;
    font-weight: normal;
  }
}

.closeIconButton {
  &--all-cart {
    &:not(&--continuar-comprando) {
      position: absolute;
    }
    &--continuar-comprando {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      width: 100%;
      text-transform: uppercase;
      font-size: $font-size-md;
      font-weight: $semi-bold;
      color: $text-color-1-500;
      font-family: $main-font;
      margin: 0 auto 1rem;
      text-decoration: none;
      border: 1px solid $high-light;
      border-radius: 4px;
      transition: all 0.2s;
      box-sizing: border-box;
      background: $white;

      &:hover,
      &:active,
      &:focus {
        filter: brightness(0.9);
      }
    }
  }
}

.closeIconButton {
  &--continuar-comprando {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    text-transform: uppercase;
    font-size: $font-size-md;
    font-weight: $semi-bold;
    color: $text-color-1-500;
    font-family: $main-font;
    margin: 0 auto 1rem;
    text-decoration: none;
    border: 1px solid $high-light;
    border-radius: 4px;
    transition: all 0.2s;
    box-sizing: border-box;
    background: $white;

    &:hover,
    &:active,
    &:focus {
      filter: brightness(0.9);
    }
  }
}
