.drawer {
  width: 100% !important;
  max-width: 492px !important;

  @include tablet {
    max-width: unset !important;
  }
}

.closeIconContainer {
  position: absolute;
  top: 46px;
  right: 25px;

  @include tablet {
    right: 15px;
    top: 40px;
  }

  .closeIconButton {
    &::before {
      content: url('assets/svg/x-minicart.svg');

      @include tablet {
        content: url('assets/svg/x-minicart-mobile.svg');
      }
    }
  }
  .closeIcon {
    &--al-cart {
      display: none;
    }
  }
}

.minicartIconContainer {
  &::before {
    content: url('assets/svg/commerce-and-shopping.svg');
  }

  &::after {
    content: url('assets/svg/MEU-CARRINHO.svg');
    position: absolute;
    left: 50px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.cartIcon {
  &--al-cart {
    display: none;
  }
}

.minicartQuantityBadge {
  position: absolute;
  right: -8px;
  top: -6px;
  width: 0.86738rem;
  height: 0.86288rem;
  padding: 0;
  font-size: 0.5625rem;
  background-color: #b11d2f;
  color: $white;

  @include tablet {
    background-color: #b11d2f;
    font-size: 9px;
    height: 14px;
    right: -8px;
    top: -5px;
    width: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.minicartWrapperContainer {
  @include tablet {
    width: auto;
  }
}

.minicartSideBarContentWrapper {
  height: 100% !important;
  height: 100vh !important;

  @media screen and (max-width: $screen-md-max) and (orientation: landscape) {
    height: 100% !important;
  }
}

.minicartProductListContainer {
  margin: 0 !important;
  padding: 0;
  position: static;
  height: 100%;
  @extend %scrollbar;
}

.minicartSummary {
  padding: 0;
}

.minicartCheckoutButton {
  padding: 0;
  margin-top: 0;

  :global(.vtex-button) {
    @extend %primary-button;
    border-radius: 0 !important;
    width: 100%;
    height: 66px;
    margin: 0 auto 0.5rem;
    border-radius: 6px !important;
    background-color: #ffdb00;

    &:hover,
    &:active,
    &:focus {
      background-color: #d6ba00;
    }

    :global(.vtex-button__label) {
      font-size: 0;
      &::before {
        content: 'Finalizar Compras';
        color: #000;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;

        @include tablet {
          font-size: 20px;
        }
      }
    }
  }
}

.minicartContainer {
  padding: 0;

  .openIconContainer {
    padding: 0;

    :global(.vtex-button) {
      display: flex;
      align-items: flex-end;
      padding-bottom: 2px;
      transition: all 0.2s;
      min-height: auto;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.8;
        background-color: transparent;
      }

      :global(.vtex-button__label) {
        padding: 0 !important;
      }
    }
  }
}

.minicartEmptyStateContainer {
  height: 100% !important;
  overflow: visible !important;
  :global(.vtex-flex-layout-0-x-flexRow) {
    height: 128px !important;
    overflow: visible !important;
    :global(.vtex-flex-layout-0-x-flexRowContent) {
      height: 128px !important;
      overflow: visible !important;
      :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        :global(.vtex-flex-layout-0-x-flexCol) {
          height: 64px !important;
          overflow: visible !important;
          :global(.vtex-flex-layout-0-x-flexColChild) {
            height: 64px !important;
            overflow: visible !important;
          }
        }
      }
    }
  }
}
