.flexRow {
  &--signup__title {
    padding-top: 50px;
  }

  &--signup__form {
    padding-top: 49px;
    padding-bottom: 250px;
  }
}

.flexRowContent {
  &--signup__title,
  &--signup__form {
    @extend %container-large;
  }
}

.flexCol {
  &--signup__title {
    align-items: flex-start;
  }

  &--signup__form {
    align-items: stretch;
    background: rgba(235, 235, 235, 0.5);
    padding: 31px 67px 52px 41px;
    position: relative;
  }
}
