.image {
  &--signup__title {
    height: 48px;
    margin-right: 0.87rem;

    @include tablet {
      height: 2.125rem;
    }
  }
}

.paragraph {
  &--signup__title {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--signup__form {
    margin: 0;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 46px;
  }
}

.strong {
  &--signup__title {
    color: $black;
    font-family: $secondary-font;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}
