.flexRow {
  &--home__categories {
    padding-bottom: 58px;

    @include desktop {
      padding-top: 23px;
      padding-bottom: 94px;
    }
  }

  &--home-business-tab {
    @extend %container-large;
  }
}

.flexRowContent {
  &--home__categories {
    @extend %container-large;
  }
}

.flexCol {
  &--home__categories {
  }
}

.flexColChild {
  &--home__selecao {
    @extend %container-large;

    @include tablet {
      padding: 0 15px;
    }
  }
}
