.flexRow {
  &--home__categories {
    @include desktop {
      padding-top: 23px;
    }
  }

  &--home-business-tab {
    @extend %container-large;
  }
}

.flexRowContent {
  &--home__categories {
    @extend %container-large;
  }
}

.flexCol {
  &--home__categories {
  }

  &--second-banner {
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

.flexColChild {
  &--home__selecao {
    @extend %container-large;

    @include tablet {
      padding: 0 15px;
    }
  }
}
