.flexRowContent {
  &--all-home__icon-text {
    .stretchChildrenWidth {
      transform: unset !important;

      @include tablet {
        display: inline-block;
      }
    }
  }

  &--all-home__icon-text {
    @include tablet {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }

  &--all-home__button-cadastro {
    .stretchChildrenWidth {
      transform: unset !important;
    }
  }

  &--all-title-video-seo {
    .stretchChildrenWidth {
      width: 100% !important;
    }
  }
}

.flexCol {
  &--all-text-seo-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: center;
      justify-content: center;
    }
  }
}

.flexColChild {
  &--all-text-seo-icons {
    @include tablet {
      &:last-child {
        margin: 0 auto;
      }
    }
  }
}

.flexRow {
  &--all-reviews-resellers-slider {
    margin-top: 1.25rem;
  }
}
