.flexRow {
  &--home__collections {
  }
}

.flexRowContent {
  &--home__collections {
    @extend %container-large;

    @include tablet-min {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .stretchChildrenWidth {
        width: 100% !important;
      }
    }
  }
}

.flexCol {
  &--home__collections {
  }
}

.flexColChild {
  &--home__collections {
  }
}
