.sliderTrackContainer {
  &--home__collections {
    // overflow-x: auto;
  }
}

.sliderLayoutContainer {
  &--home__collections {
    padding: 33px 0 0;

    // @include tablet {
    //   padding: 1.25rem 0 1.3125rem;
    //   margin-bottom: 3.5rem;
    // }
  }
}

.slideChildrenContainer {
  &--home__collections {
    align-items: stretch;
    padding: 0;

    :global(.vtex-info-card-list-0-x-home__collections--home__collections) {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }

    // @include tablet {
    //   padding: 1.0625rem 52px;
    // }
  }
}

.sliderLeftArrow {
  &--home__collections {
    margin-left: 6.25rem;

    @include tablet {
      margin-left: 2.1875rem;
    }
  }
}

.sliderRightArrow {
  &--home__collections {
    margin-right: 6.25rem;

    @include tablet {
      margin-right: 2.1875rem;
    }
  }
}

.caretIcon {
  &--home__collections {
    max-width: 100%;
    max-height: 100%;
    width: 1rem;
    height: 1rem;
    overflow: visible !important;
  }
}

.infoCardContainer {
  &--home__collections {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $white;
    border-radius: 0;
    padding: 12px;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;

    @include tablet {
      margin: 0.5rem auto;
    }
  }
}

.infoCardTextContainer {
  &--home__collections {
    width: 100%;
    text-align: left;
    padding: 0;
    position: absolute;
    bottom: 67px;
    left: 0;
    right: 0;
    margin-left: 12px;
  }
}

.infoCardImageContainer {
  &--home__collections {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.infoCardImage {
  &--home__collections {
    display: block;
  }
}

.infoCardCallActionContainer {
  &--home__collections {
    width: 100%;
    margin: 0;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.9);
    padding: 25px 15px 22px;
  }
}

.infoCardCallActionText {
  &--home__collections {
    @include text($font-size-sm, $low-pure, $semi-bold);
    line-height: 21px;
    margin: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.infoCardHeadline {
  &--home__collections {
    @include text($font-size-sm, $color-c-3, $bold);
    line-height: 1.0625rem;
    margin: 0;
  }
}

.infoCardSubhead {
  &--home__collections {
    @include text($font-size-sm, $text-dark-400, $regular);
    line-height: 1.0625rem;
    margin: 0;
  }
}

.container {
  &--home__collections {
    width: 100%;
  }
}

.heading {
  &--home__collections {
    @include text($font-size-md, $text-pure-500, $bold);
    line-height: 1.1875rem;
    padding-bottom: 0.5rem;
    margin: 0;
  }
}

.paragraph {
  &--home__collections {
    @include text($font-size-sm, $color-c-3, $bold);
    line-height: 1.0625rem;
    margin: 0;
  }
}
