.sliderFrame {
  max-height: 100%;
  min-height: 100%;
  height: auto;
}

:global(.vtex-shelf-1-x-sliderContainer--similars) {
  .dotsContainer {
    bottom: 0;

    @include desktop {
      bottom: -1rem;
    }
  }
}
