.listPrice,
.listPriceValue {
  &--product__price {
    @include text($font-size-md, $high-light, $regular);
    line-height: 1.5rem;
    margin-right: 0;

    @include tablet {
      margin-right: 0;
    }
  }
}

.sellingPrice,
.sellingPriceValue {
  &--product__price {
    @include text(2.1875rem, $secondary-pure-500, $bold);
    line-height: normal;
    margin-top: 3rem;

    @include tablet {
      margin: 0 0 0.6rem 0;
    }

    .currencyCode {
      &--product__price {
        font-size: 1.625rem;
      }
    }
  }

  &--product__float-bar {
    font-size: $font-size-lg;
  }

  &--float-bar-price {
    font-weight: $regular;
    font-size: $font-size-xlg;
    line-height: 1.875rem;
    color: $text-color-1;
  }
}

.installments {
  &--product__price {
    padding-bottom: 1rem;
    display: block;

    .installmentsNumber {
      &--product__price--1 {
        color: $secondary-pure-500;
        font-size: 0.9375rem;

        &::before {
          content: 'em ';
          font-weight: normal;
          color: $black;
        }

        &::after {
          content: 'x ';
          font-weight: normal;
        }
      }
    }
  }

  &--product__float-bar {
    padding: 0;
  }
}

.installments,
.installmentsNumber,
.installmentValue {
  &--product__price {
    @include text($font-size-md, $secondary-pure-500, $bold);
    margin: 0;

    .currencyContainer--product__price {
      color: $secondary-pure-500;
      font-weight: bold;
    }
  }

  &--product__float-bar {
    font-size: $font-size-sm;
  }
}

.installments {
  &--product__price {
    font-size: 0 !important;

    &::before {
      content: 'Ou em ';
      font-size: 0.9375rem;
    }

    &::after {
      content: ' sem juros';
      font-size: 0.9375rem;
      color: $black;
    }
  }
}
.installmentValue {
  &--product__price {
    &::before {
      content: ' de ';
    }
  }
}

.savings {
  &--all-summary-percentage__pdp {
    background-color: $high-light !important;
    border-radius: 0.125rem;
    padding: 0.25rem;
    margin: 0.156rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Percentage--all-summary-percentage__pdp {
    font-family: $main-font !important;
    @include text($font-size-xs, $white, $semi-bold);
    line-height: 0.875rem;
    display: flex;
    flex-direction: row;
    width: fit-content !important;
    flex-wrap: nowrap;
    line-break: strict;
    align-items: center;
  }
}

.savings-infor--all-summary-percentage__pdp {
  font-family: $main-font !important;
  @include text($font-size-xs, $white, $semi-bold);
  line-height: 0.875rem;
  display: flex;
  flex-direction: row;
  width: fit-content !important;
  flex-wrap: nowrap;
  line-break: strict;
  align-items: center;
  margin-left: 0.25rem;
}
