.link {
  &--product__shipping {
    @include link($font-size-xs, $text-color-2-400, $bold, underline);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    width: 100% !important;
    max-height: 2rem;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
    }

    .label {
      display: block;
      white-space: pre;
      margin: 0;
    }

    @include tablet {
      justify-content: flex-start;
      padding-top: 0.5rem;
    }
  }

  &--cta-login-product {
    display: block;
    text-align: center;
    background-color: $secondary-pure-500;
    width: 97%;
    padding: 0.75rem 3.87rem;
    border-radius: 0.3125rem;
    margin: 2rem auto;
    text-decoration: none;
  }

  .label {
    &--cta-login-product {
      color: $black;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
