.listPrice,
.listPriceValue {
  &--product__price {
    @include text($font-size-md, $high-light, $regular);
    line-height: 1.5rem;
    margin-right: 0;

    @include tablet {
      margin-right: 0;
    }
  }
}

.sellingPrice,
.sellingPriceValue {
  &--product__price {
    @include text($font-size-sm, #2b2b2b, $regular);
    line-height: 1.688rem;
  }

  &--product__float-bar {
    font-size: $font-size-lg;
  }

  &--float-bar-price {
    font-weight: $regular;
    font-size: $font-size-xlg;
    line-height: 1.875rem;
    color: $text-color-1;
  }
}

.installments {
  &--product__price {
    padding-bottom: 1rem;
    display: block;
  }

  &--product__float-bar {
    padding: 0;
  }
}

.installments,
.installmentsNumber,
.installmentValue {
  &--product__price {
    @include text($font-size-md, $text-color-2-400, $regular);
    margin: 0;

    &::before,
    &::after {
      content: none;
    }
  }

  &--product__float-bar {
    font-size: $font-size-sm;
  }
}

.savings {
  &--all-summary-percentage__pdp {
    background-color: $high-light !important;
    border-radius: 0.125rem;
    padding: 0.25rem;
    margin: 0.156rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Percentage--all-summary-percentage__pdp {
    font-family: $main-font !important;
    @include text($font-size-xs, $white, $semi-bold);
    line-height: 0.875rem;
    display: flex;
    flex-direction: row;
    width: fit-content !important;
    flex-wrap: nowrap;
    line-break: strict;
    align-items: center;
  }
}

.savings-infor--all-summary-percentage__pdp {
  font-family: $main-font !important;
  @include text($font-size-xs, $white, $semi-bold);
  line-height: 0.875rem;
  display: flex;
  flex-direction: row;
  width: fit-content !important;
  flex-wrap: nowrap;
  line-break: strict;
  align-items: center;
  margin-left: 0.25rem;
}
