/* stylelint-disable font-family-name-quotes */

/* usar o site Transfonter para gerar esse arquivo */
@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-BlackItalic.woff2') format('woff2'),
      url('assets/fonts/Exo-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-BoldItalic.woff2') format('woff2'),
      url('assets/fonts/Exo-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-Bold.woff2') format('woff2'),
      url('assets/fonts/Exo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-Black.woff2') format('woff2'),
      url('assets/fonts/Exo-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-Italic.woff2') format('woff2'),
      url('assets/fonts/Exo-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-ExtraBold.woff2') format('woff2'),
      url('assets/fonts/Exo-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-ExtraLight.woff2') format('woff2'),
      url('assets/fonts/Exo-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-ExtraBoldItalic.woff2') format('woff2'),
      url('assets/fonts/Exo-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-Light.woff2') format('woff2'),
      url('assets/fonts/Exo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-ExtraLightItalic.woff2') format('woff2'),
      url('assets/fonts/Exo-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-Regular.woff2') format('woff2'),
      url('assets/fonts/Exo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-SemiBold.woff2') format('woff2'),
      url('assets/fonts/Exo-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-Medium.woff2') format('woff2'),
      url('assets/fonts/Exo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-SemiBoldItalic.woff2') format('woff2'),
      url('assets/fonts/Exo-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-LightItalic.woff2') format('woff2'),
      url('assets/fonts/Exo-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-MediumItalic.woff2') format('woff2'),
      url('assets/fonts/Exo-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-Thin.woff2') format('woff2'),
      url('assets/fonts/Exo-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/Exo-ThinItalic.woff2') format('woff2'),
      url('assets/fonts/Exo-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-BoldItalic.woff2') format('woff2'),
      url('assets/fonts/Barlow-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-Black.woff2') format('woff2'),
      url('assets/fonts/Barlow-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-Bold.woff2') format('woff2'),
      url('assets/fonts/Barlow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-BlackItalic.woff2') format('woff2'),
      url('assets/fonts/Barlow-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-ExtraBold.woff2') format('woff2'),
      url('assets/fonts/Barlow-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-ExtraLight.woff2') format('woff2'),
      url('assets/fonts/Barlow-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-ExtraLightItalic.woff2') format('woff2'),
      url('assets/fonts/Barlow-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-ExtraBoldItalic.woff2') format('woff2'),
      url('assets/fonts/Barlow-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-Italic.woff2') format('woff2'),
      url('assets/fonts/Barlow-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-Light.woff2') format('woff2'),
      url('assets/fonts/Barlow-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-LightItalic.woff2') format('woff2'),
      url('assets/fonts/Barlow-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-Regular.woff2') format('woff2'),
      url('assets/fonts/Barlow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-MediumItalic.woff2') format('woff2'),
      url('assets/fonts/Barlow-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-Medium.woff2') format('woff2'),
      url('assets/fonts/Barlow-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-SemiBold.woff2') format('woff2'),
      url('assets/fonts/Barlow-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-Thin.woff2') format('woff2'),
      url('assets/fonts/Barlow-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-SemiBoldItalic.woff2') format('woff2'),
      url('assets/fonts/Barlow-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/Barlow-ThinItalic.woff2') format('woff2'),
      url('assets/fonts/Barlow-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

