/* stylelint-disable font-family-name-quotes */

/* usar o site Transfonter para gerar esse arquivo */

@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/Ubuntu-Light.woff') format('woff'),
    url('assets/fonts/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Ubuntu-Regular.woff') format('woff'),
    url('assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/Ubuntu-Medium.woff') format('woff'),
    url('assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Ubuntu-Bold.woff') format('woff'),
    url('assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Black.eot');
  src: url('assets/fonts/Montserrat-Black.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Black.woff') format('woff'),
    url('assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-ExtraBold.eot');
  src: url('assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-ExtraBold.woff') format('woff'),
    url('assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-ExtraBoldItalic.eot');
  src: url('assets/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('assets/fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
    url('assets/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-BlackItalic.eot');
  src: url('assets/fonts/Montserrat-BlackItalic.woff2') format('woff2'),
    url('assets/fonts/Montserrat-BlackItalic.woff') format('woff'),
    url('assets/fonts/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-BoldItalic.eot');
  src: url('assets/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
    url('assets/fonts/Montserrat-BoldItalic.woff') format('woff'),
    url('assets/fonts/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Bold.eot');
  src: url('assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Bold.woff') format('woff'),
    url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-ExtraLight.eot');
  src: url('assets/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('assets/fonts/Montserrat-ExtraLight.woff') format('woff'),
    url('assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-LightItalic.eot');
  src: url('assets/fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('assets/fonts/Montserrat-LightItalic.woff') format('woff'),
    url('assets/fonts/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Medium.eot');
  src: url('assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Medium.woff') format('woff'),
    url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-ExtraLightItalic.eot');
  src: url('assets/fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
    url('assets/fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
    url('assets/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Italic.eot');
  src: url('assets/fonts/Montserrat-Italic.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Italic.woff') format('woff'),
    url('assets/fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Light.eot');
  src: url('assets/fonts/Montserrat-Light.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Light.woff') format('woff'),
    url('assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-MediumItalic.eot');
  src: url('assets/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
    url('assets/fonts/Montserrat-MediumItalic.woff') format('woff'),
    url('assets/fonts/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-SemiBoldItalic.eot');
  src: url('assets/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('assets/fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
    url('assets/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-SemiBold.eot');
  src: url('assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-SemiBold.woff') format('woff'),
    url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.eot');
  src: url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Regular.woff') format('woff'),
    url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-ThinItalic.eot');
  src: url('assets/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
    url('assets/fonts/Montserrat-ThinItalic.woff') format('woff'),
    url('assets/fonts/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Thin.eot');
  src: url('assets/fonts/Montserrat-Thin.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Thin.woff') format('woff'),
    url('assets/fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamLight.woff2') format('woff2'),
      url('assets/fonts/GothamLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamBlack-Italic.woff2') format('woff2'),
      url('assets/fonts/GothamBlack-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamThin.woff2') format('woff2'),
      url('assets/fonts/GothamThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamMedium.woff2') format('woff2'),
      url('assets/fonts/GothamMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamThin-Italic.woff2') format('woff2'),
      url('assets/fonts/GothamThin-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('assets/fonts/GothamUltra-Italic.woff2') format('woff2'),
      url('assets/fonts/GothamUltra-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamExtraLight-Italic.woff2') format('woff2'),
      url('assets/fonts/GothamExtraLight-Italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamMedium-Italic.woff2') format('woff2'),
      url('assets/fonts/GothamMedium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamLight-Italic.woff2') format('woff2'),
      url('assets/fonts/GothamLight-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('assets/fonts/GothamUltra.woff2') format('woff2'),
      url('assets/fonts/GothamUltra.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamExtraLight.woff2') format('woff2'),
      url('assets/fonts/GothamExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamBold-Italic.woff2') format('woff2'),
      url('assets/fonts/GothamBold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamBlack.woff2') format('woff2'),
      url('assets/fonts/GothamBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamBold.woff2') format('woff2'),
      url('assets/fonts/GothamBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

