.container {
  &--search__categories-banner {
    padding: 30px 0;
  }

  &--all-search__seo {
    @extend %container-large;
    padding: 1rem 0 4rem 0;
    @include tablet {
      padding: 1rem 1rem 4rem 1rem;
    }

    .heading {
      @include text($font-size-h5, $text-color-1-500, $bold);
    }

    .paragraph {
      font-size: $font-size-sm;
      color: $text-color-2-500;
    }
  }

  .paragraph {
    &--al-not-found-page__title {
      letter-spacing: 0.4em;
      margin-top: 78px;
    }

    &--al-not-found-page__text {
      margin-bottom: 220px;
    }
  }

  .strong {
    &--al-not-found-page__title {
      color: #40d6c6;
      font-weight: 900;
      font-size: 17px;
    }
  }
}

.paragraph--all-search__seo {
  margin: 0 !important;
}
