.infoCardContainer {
  &--all-search__slider--banner {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
}
.infoCardImageContainer {
  &--all-search__slider--banner {
    width: 100%;
  }
}

.infoCardCallActionContainer {
  &--all-search__slider--banner {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
  }
}

.infoCardCallActionContainerText {
  &--all-search__slider--banner {
    @extend %link;
    text-decoration: none !important;
  }
}
