$primary-pure-500: #40d6c6;
$primary-light-50: #4e77d3;
$primary-medium-300: #2d58b7;
$primary-dark-700: #1b346d;

$secondary-pure-500: #e31e25;
$secondary-light-50: #ee797d;
$secondary-medium-300: #e84248;
$secondary-dark-700: #b7171c;

$text-pure-500: #808080;
$text-white-100: #ffffff; // on-action-secondary, on-action-primary, hover-on-action-secondary, hover-on-action-primary
$text-light-200: #e0e0e0;
$text-medium-300: #bdbdbd;
$text-dark-400: #777777;
$text-focus-300: #bdbdbd;
$background-page: #e0e0e0;

$cta-pure-500: #51a559;
$cta-disable-50: lighten($cta-pure-500, 20%);
$cta-hover-700: #2f6134; // hover-background-action-secondary

$high-pure: #ffffff;
$high-light: #f5f5f5; // muted-5
$high-medium: #e0e0e0; // muted-4
$high-dark: #cccccc; // muted-3
$high-pure-2: #efefef;
$high-pure-3: #696969;
$high-pure-4: #575757;
$high-pure-5: #b8b8b8;
$high-pure-6: #9e9e9e;
$high-pure-7: #fafafa;
$high-pure-8: #e6e6e6;
$high-pure-9: #a6a3a3;

$low-pure: #000000;
$low-light: #a3a3a3; // muted-2
$low-medium: #999999; // muted-1
$low-dark: #292929;
$low-dark-medium: #757575;

$success-pure: #afe86d;
$success-light: #e5fdca;
$success-medium: #caf598;
$success-dark: #79b03a;

$warning-pure: #ffc542;
$warning-light: #ffefc9;
$warning-medium: #ffe19c;
$warning-dark: #d19200;

$error-pure: #ff6b6b;
$error-light: #ffd6d6;
$error-medium: #ffb8b8;
$error-dark: #cc1818;

$support-1: #003399;
$support-2: #006633;
$support-3: #ffa400;
$support-4: #d00c0e;
$support-5: #674ea7;
$support-6: #254896;
$support-7: #112144;
$support-8: $error-pure;
$support-9: $cta-hover-700;

$color-1: $primary-pure-500; // Cor principal da marca
$color-2: $secondary-pure-500; // Cor secundária da marca
$color-3: $cta-pure-500; // Cor do callToAction Principal (ex.: botão comprar)
$color-4: $text-pure-500; // CallToAction Secundário (ex.: botão de newsletter)
$color-5: $high-dark; // Cor livre
$color-6: $low-light; // Cor Neutra (ex.: cinza)
$text-color-1: $text-pure-500; // Cor para textos
$text-color-2: $text-focus-300; // Cor secundária para textos

// Gradientes
$grad-1: linear-gradient(
  to right,
  rgba(255, 255, 255, 100%) 50%,
  $primary-pure-500 0%
);

// Gradientes
$grad-2: linear-gradient(90deg, $primary-pure-500 0%, $secondary-pure-500 100%);

// Cor 1
$color-1-50: lighten($color-1, 20%);
$color-1-100: lighten($color-1, 16%);
$color-1-200: lighten($color-1, 12%);
$color-1-300: lighten($color-1, 8%);
$color-1-400: lighten($color-1, 4%);
$color-1-500: $color-1;
$color-1-600: darken($color-1, 5%);
$color-1-700: darken($color-1, 10%);
$color-1-800: darken($color-1, 15%);
$color-1-900: darken($color-1, 20%);

// Cor 2
$color-2-50: lighten($color-2, 20%);
$color-2-100: lighten($color-2, 16%);
$color-2-200: lighten($color-2, 12%);
$color-2-300: lighten($color-2, 8%);
$color-2-400: lighten($color-2, 4%);
$color-2-500: $color-2;
$color-2-600: darken($color-2, 5%);
$color-2-700: darken($color-2, 10%);
$color-2-800: darken($color-2, 15%);
$color-2-900: darken($color-2, 20%);

// Cor 3
$color-3-50: lighten($color-3, 20%);
$color-3-100: lighten($color-3, 16%);
$color-3-200: lighten($color-3, 12%);
$color-3-300: lighten($color-3, 8%);
$color-3-400: lighten($color-3, 4%);
$color-3-500: $color-3;
$color-3-600: darken($color-3, 5%);
$color-3-700: darken($color-3, 10%);
$color-3-800: darken($color-3, 15%);
$color-3-900: darken($color-3, 20%);

// Cor 4
$color-4-50: lighten($color-4, 20%);
$color-4-100: lighten($color-4, 16%);
$color-4-200: lighten($color-4, 12%);
$color-4-300: lighten($color-4, 8%);
$color-4-400: lighten($color-4, 4%);
$color-4-500: $color-4;
$color-4-600: darken($color-4, 5%);
$color-4-700: darken($color-4, 10%);
$color-4-800: darken($color-4, 15%);
$color-4-900: darken($color-4, 20%);

// Cor 5
$color-5-50: lighten($color-5, 20%);
$color-5-100: lighten($color-5, 16%);
$color-5-200: lighten($color-5, 12%);
$color-5-300: lighten($color-5, 8%);
$color-5-400: lighten($color-5, 4%);
$color-5-500: $color-5;
$color-5-600: darken($color-5, 5%);
$color-5-700: darken($color-5, 10%);
$color-5-800: darken($color-5, 15%);
$color-5-900: darken($color-5, 20%);

// Cor 6
$color-6-50: lighten($color-6, 20%);
$color-6-100: lighten($color-6, 16%);
$color-6-200: lighten($color-6, 12%);
$color-6-300: lighten($color-6, 8%);
$color-6-400: lighten($color-6, 4%);
$color-6-500: $color-6;
$color-6-600: darken($color-6, 5%);
$color-6-700: darken($color-6, 10%);
$color-6-800: darken($color-6, 15%);
$color-6-900: darken($color-6, 20%);

// Textos - alpha
$text-color-1-500: $text-color-1;
$text-color-1-400: lighten($text-color-1, 26%);
$text-color-1-300: lighten($text-color-1, 54%);
$text-color-1-200: lighten($text-color-1, 68%);
$text-color-1-100: lighten($text-color-1, 82%);

// Textos 2 - alpha
$text-color-2-500: $text-color-2;
$text-color-2-400: lighten($text-color-2, 26%);
$text-color-2-300: lighten($text-color-2, 54%);
$text-color-2-200: lighten($text-color-2, 68%);
$text-color-2-100: lighten($text-color-2, 82%);

// Apoios
$white: #ffffff;
$black: #000;
$c-sup-1: #f4f4f4;
$c-sup-2: $support-2;
$c-sup-3: $support-3;
$c-sup-4: $support-4;
$c-sup-5: $support-5;
$c-sup-6: $support-6;
$c-sup-7: $support-7;

$text-shadow-1-500: 0 0 $text-color-1-500;
$text-shadow-2-500: 0 0 $text-color-2-500;
$text-shadow-white: 0 0 $white;

// Custom - MUDE A COR FFF PARA A QUE FOR NECESSÁRIA PARA O SEU TEMA E QUE NÃO SE ENCAIXE NAS CORES PADRÃO ACIMA!

$color-c-1: $high-light;
$color-c-2: #ffd100;
$color-c-3: #848484;
$color-c-4: #4d4d4d;

//CORES EXTRA

$color-e-1: #efefef;
$color-e-2: #9e9e9e;
$color-e-3: #25d366;
$color-e-4: #808080;
