// Fonte do projeto

// usar aspas duplas caso o nome da fonte seja composto, exemplo: "Work Sans"

$main-font: 'Exo', sans-serif;
$secondary-font: 'Barlow', sans-serif;
$tertiary-font: 'Dosis', sans-serif;
$quaternary-font: 'Montserrat', sans-serif;
$quinary-font: 'Lato', sans-serif;
