// Fonte do projeto

// usar aspas duplas caso o nome da fonte seja composto, exemplo: "Work Sans"

$main-font: Montserrat, sans-serif;
$secondary-font: 'Gotham', sans-serif;
$tertiary-font: 'Dosis', sans-serif;
