.defaultSuccessMessage {
  @include text($font-size-lg, $white, $bold);
  padding: 0;
  text-align: center;
}

.newsletterForm {
  &--footer__newsletter {
    width: 100%;

    @include tablet {
      // align-items: flex-start;
    }

    :global(.vtex-button) {
      width: 100%;
      max-width: 186px;
      height: 43px;
      border: 1px solid $color-c-9;
      border-radius: 5px;
      @include text($font-size-lg, $color-c-10, $bold);
      background-color: $color-c-9;
      text-transform: none;
      transition: all 0.3s ease-in-out;

      :global(.vtex-spinner_circle) {
        color: $white;
      }

      @include desktop {
        &:hover,
        &:active,
        &:focus {
          background-color: $primary-dark-700;
          border-color: $primary-dark-700;
        }
      }

      @include tablet {
        @include text($font-size-xs, $text-pure-500, $bold);
        line-height: 14.364px;
        flex: unset;
        background: #fddb00;
        border: none;
        max-width: 11.75rem;
        height: 2.0625rem;
        padding: 0 24px 0 17px;

        :global(.vtex-spinner_circle) {
          color: $color-c-9;
        }

        :global(.vtex-button__label) {
          padding: 0 !important;
          color: #000;
          text-transform: uppercase;
          font-size: 0.8125rem;
          font-style: normal;
          font-weight: 700;
        }
      }
    }

    :global(.vtex-input-prefix__group) {
      width: 100%;
      height: 43px;
      border: none;

      @include tablet {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 2.0625rem;
        border-radius: 0;
        margin-bottom: 0.56rem;
      }
    }

    :global(.vtex-styleguide-9-x-input) {
      @include text($font-size-sm + 1, $color-c-10, $bold);
      width: 100%;
      height: 100%;
      border-radius: 5px;
      padding: 0 0.25rem;
      background-color: $white;
      border: 1px solid #ffdb00;
      text-align: center;
      border-radius: 3px;

      @include tablet {
        @include text($font-size-xs, $text-pure-500, $regular);
        line-height: 14.364px;
        width: 14.6875rem;
        padding: 0 20px;
        background: $white;
        max-width: 100%;
      }
    }

    :global(.vtex-checkbox__label),
    :global(.vtex-checkbox__label) .labelLink {
      @include text($font-size-xs, $white, $semi-bold);
    }
  }
}

.nameInputContainer {
  &--footer__newsletter--input-email {
  }
}

.emailInputContainer {
  &--footer__newsletter--input-email {
    flex: 1;
    padding-right: 9px;

    @include tablet {
      width: 100%;
      flex: unset;
      padding-right: 0;
      border: none;
    }
  }
}

.formSubmitContainer {
  &--footer__newsletter--submit {
    flex: 1;
    margin-top: 3.81rem;

    @include tablet {
      flex: unset;
      border: none;
      display: flex;
      justify-content: center;
    }
  }
}

.confirmationCheckboxContainer {
}
.confirmationCheckboxLabel {
}
.defaultErrorMessage {
}

.emailInputContainer {
}
.emailInputContainer--invalid {
}
.emailInputLabel {
}
.formSubmitContainer {
}
.formSubmitContainer--invalid {
}
.nameInputContainer {
}
.nameInputContainer--invalid {
}
.nameInputLabel {
}
.newsletterForm {
}
.phoneInputContainer {
}
.phoneInputContainer--invalid {
}
.phoneInputLabel {
}
