.flexRow {
  &--footer__newsletter {
    padding: 24px 0 21px;
    margin-bottom: 0;
    background-color: #1e1e1e;

    @include tablet {
      padding: 24px 48px 31px;
    }
  }

  &--footer__payment-methods,
  &--footer__menu {
    background-color: $black;
    padding: 51px 0 45px;
  }

  &--footer__social-network {
    @include tablet {
      background-color: $black;
    }
  }

  &--footer__payment-methods {
    padding: 0 0 30px;

    @include tablet {
      background-color: $black;
      padding: 32px 0 58px;
    }
  }

  &--footer_legal_information {
    background-color: $black;
    padding: 24px 0;

    @include tablet {
      background-color: $black;
      padding: 32px 0;
    }
  }

  &--footer__methods {
    background-color: $white;
    padding: 16px 0 0;
  }

  &--credits {
    padding: 1.5rem 0;
    @include tablet {
      padding: 1rem;
    }
  }

  &--footer__payment-methods {
    justify-content: flex-start;
  }
}

.flexRowContent {
  &--footer__newsletter {
    justify-content: center;

    @include desktop {
      .stretchChildrenWidth {
        width: 100% !important;

        &:first-child {
          width: auto !important;
          white-space: pre;
        }
      }
    }
  }

  &--home__footer--developed-powered-wrapper {
    display: flex;
    justify-content: flex-start;
    @include tablet {
      justify-content: center;
    }
  }

  &--footer__menu {
    @include desktop {
      justify-content: space-between;

      :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: auto !important;
        padding: 0;
      }
    }
  }

  &--payment-methods-flags {
    @include tablet {
      justify-content: center !important;
      flex-direction: column;
    }
  }

  &--footer__methods {
    padding: 32px 0;
    @include tablet {
      padding: 0 !important;
      border-bottom: 1px solid $high-light;
    }
  }

  &--footer__newsletter {
    margin: 0 auto;
  }

  &--footer_legal_information,
  &--footer__menu,
  &--footer__newsletter,
  &--footer__payment-methods,
  &--credits {
    @extend %container-large;
  }

  &--footer__payment-methods,
  &--footer__methods {
    @include tablet {
      flex-direction: column;
      .stretchChildrenWidth {
        width: 100% !important;
      }
    }
  }

  &--footer__payment-methods {
    justify-content: flex-start;
  }

  &--home__footer--high {
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    @include tablet {
      justify-content: center !important;
      margin-bottom: 1.5rem;
    }
  }
}

.flexCol {
  &--home__footer--powered {
    @include tablet {
      margin-right: 1.5rem;
    }
  }

  &--home__footer--high {
    @include tablet {
      margin-bottom: 1.5rem;
    }
  }

  &--powerd-by {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.flexColChild {
  &--logo-social-colum {
    @include desktop {
      height: auto !important;

      &:first-child {
        padding-bottom: 1.5rem;
      }

      &:last-child {
        padding-top: 1rem;
      }
    }
  }

  &--footer__payment-methods {
    @include desktop {
      width: 100%;
    }
  }

  &--powerd-by {
    height: auto !important;
  }

  &--desk-copyright {
    display: flex;
    align-items: center;
  }
}
