.container {
  &--footer__copyright {
    align-items: center;
    @include tablet {
      width: 100%;
    }

    &--title {
      .heading {
        margin: 0 0 0.375rem;
        @include text($font-size-xxs, $white, $regular);
        line-height: 0.75rem;
      }

      .heading {
        color: $text-color-1-500;
      }
    }

    .paragraph {
      margin: 0;
      @include text($font-size-sm, $text-color-2, $regular);
      line-height: 150%;
      @include tablet {
        text-align: center;
        margin-bottom: 24px;
      }
    }
  }

  &--icon-footer-menu {
    .paragraph {
      margin: 0;
      display: flex;
      @include link($font-size-sm, $text-color-1, $regular, none);
      line-height: 230%;

      .image {
        margin: 0 0.75rem 0 0.25rem;
        align-items: center;
        display: flex;
        width: 1.5rem;
      }

      .strong {
        margin-right: 0.25rem;
      }
    }
  }

  &--footer__newsletter {
    .wrapper {
      width: 100%;
      text-align: center;
    }

    .paragraph {
      @include text($font-size-lg, $color-2-500, $bold);
    }
  }

  &--footer__about {
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      background-color: $white;
      padding: 0 1.5rem;
      z-index: 1;
      @include tablet {
        padding: 0 0.625rem;
      }

      .paragraph {
        margin: 0;
      }
    }

    .image {
      height: 115px;
      @include tablet {
        height: 88px;
      }
    }

    .heading {
      @include text($font-size-sm, $white, $bold);

      @include desktop {
        width: 40%;
      }
    }

    .paragraph {
      @include text($font-size-xxs, $white, $normal);
    }
  }

  &--footer__tooltip--text,
  &--footer__title {
    .heading {
      @include text($font-size-sm, $white, $bold);
      margin: 0 0 1.5rem;
    }

    .paragraph {
      @include text($font-size-md, $white, $normal);
    }
  }

  &--footer__methods--title {
    @include tablet {
      justify-content: center;
    }

    .heading {
      margin: 0 0 14px;
      @include text($font-size-md, $text-color-1, $regular);
      text-transform: uppercase;
      @include tablet {
        margin: 24px 0 8px;
        text-align: center;
      }
    }
  }

  &--footer__legal-information {
    .paragraph {
      @include text($font-size-xxs, $text-color-1-400, $normal);
    }
  }

  &--footer__newsletter--title {
    width: 100%;
    align-items: center;
    @include tablet {
      max-width: none;
      margin: 0;
      text-align: center;
    }

    .wrapper {
      .paragraph {
        @include text($font-size-xlg, $white, $bold);
        line-height: 24.38px;
        margin: 0;

        @include tablet {
          @include text($font-size-lg, $white, $bold);
          line-height: 150%;
        }
      }
    }
  }

  &--footer__social-media__title {
    @include tablet {
      justify-content: center;
    }

    .paragraph {
      margin: 24px 0 8px;
      text-transform: uppercase;
      @include text($font-size-md, $text-color-1, $regular);
    }
  }

  &--footer__menu__showrooms {
    .paragraph {
      margin: 0;
    }

    &_first {
      .paragraph {
        margin-bottom: 24px;
      }
    }
  }
}

.heading {
}

.headingLevel1 {
}

.headingLevel2 {
}

.headingLevel3 {
}

.headingLevel4 {
}

.headingLevel5 {
}

.headingLevel6 {
}

.image {
}

.italic {
}

.link {
}

.list {
}

.listItem {
}

.listOrdered {
}

.paragraph {
}

.strong {
}

.table {
}

.tableBody {
}

.tableHead {
}

.tableTd {
}

.tableTh {
}

.tableTr {
}

.wrapper {
  &--footer__copyright {
    @include tablet {
      width: 100%;
    }
  }
}
