.menuContainerNav {
  &--footer__menu {
    @include tablet {
      background-color: $black;
      padding-top: 44px;
    }

    .styledLinkContainer {
      margin: 0;
      padding: 0 0 19px;
      text-decoration: none;

      @include tablet {
        text-align: center;
      }
    }

    .styledLink {
      @include link($font-size-h5 + 1, $white, $bold, none, $secondary-font);
      font-family: $secondary-font !important;
      text-transform: uppercase;
      line-height: normal;
      display: inline-block;

      .styledLinkContent {
        font-family: $secondary-font !important;
      }

      &:hover,
      &:active,
      &:focus {
        text-decoration: none !important;
      }

      @include tablet {
        font-size: $font-size-md;
        text-align: center;
      }
    }

    .menuContainer {
      .menuItem {
        .styledLink {
          @include link($font-size-lg, $white, $regular, none);
          text-transform: none;

          @include tablet {
            font-size: $font-size-md + 1;
            font-weight: 300;
            line-height: normal;
            text-align: center;
          }

          @include desktop {
            &::after {
              content: '';
              width: 0;
              height: 2px;
              background-color: $white;
              transition: width 0.2s ease-in-out;
              display: block;
            }

            &:hover,
            &:active,
            &:focus {
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  &--footer__menu--mob {
    padding: 23px 0 0.25rem;
  }
}

.menuItem {
  &--footer__menu--title {
    .styledLinkContainer {
      margin: 0;
      padding: 0 0 19px;
      text-decoration: none;

      @include tablet {
        padding-bottom: 10px;
        text-align: center;
      }
    }

    .styledLink {
      @include link(1.375rem, $white, $bold, none, $secondary-font);
      font-family: $secondary-font !important;
      text-transform: uppercase;
      line-height: normal;
      display: inline-block;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none !important;
      }

      @include tablet {
        font-size: $font-size-md;
        line-height: normal;
        text-align: center;
      }
    }
  }

  &--footer__menu--mob {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      padding: 0 0 19px;
    }

    .styledLinkContainer {
      margin: 0;
      padding: 0;
      text-decoration: none;
    }

    .styledLink {
      @include link($font-size-sm - 1, $white, $regular, none);
      text-transform: none;
      line-height: normal;
      display: inline-block;
      width: 100%;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none !important;
      }
    }

    .styledLinkContent {
      width: 100%;
    }

    .accordionIcon {
      font-size: 0;
      margin: 0;

      &::before {
        content: url('assets/svg/icon-arrow-footer.svg');
        width: 16px;
        height: 11px;
        transition: all 0.3s ease-in-out;
        display: block;
      }

      &--isOpen {
        &::before {
          transform: rotate(180deg);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  &--footer__menu--mob-title {
    padding: 31px 22px 23px;
    background-color: #000;
    border-top: 6px solid $white;
    border-bottom: 6px solid $white;

    &:not(:last-child) {
      padding: 31px 22px 23px;
    }

    .styledLink--footer__menu--mob-title {
      color: #fff;
      // font-family: Barlow;
      font-size: 1.25rem;
      font-style: italic;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;

      &:hover {
        color: #fff;
      }
    }
  }

  &--footer__menu--mob-security {
    .submenuAccordion {
      @include tablet {
        min-height: 70px;
      }
    }
  }
}

.submenuAccordion {
  &--footer_inner_menu--mob {
    padding: 0;
  }

  &--footer__menu--mob-security {
    @include tablet {
      min-height: 70px;
    }
  }
}

.styledLink {
}

.accordionIcon {
}

.container {
}

.linkLeft {
}

.linkMiddle {
}

.linkRight {
}

.menuItemInnerDiv {
}

.menuItem--isOpen {
}

.menuItem--isClosed {
}

.menuLinkDivLeft {
}

.menuLinkDivMiddle {
}

.menuLinkDivRight {
}

.menuLinkNav {
}

.renderLink {
}

.submenuColumn {
}

.submenuContainer {
}

.submenuWrapper--isClosed {
}

.submenuWrapper--isOpen {
}

.submenuWrapper {
}

.submenu {
}
