@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.container {
  &--footer__copyright {
    align-items: center;

    @include tablet {
      width: 100%;
    }

    .paragraph {
      @include text($font-size-sm, #6f6f6f, $lighter, $secondary-font);
      font-family: $secondary-font !important;
      margin: 0;
      line-height: normal;
      @include tablet {
        text-align: center;
      }
    }
  }

  &--footer__copyright--title {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 100%;
      white-space: pre;
    }

    .heading,
    .paragraph {
      // @include text($font-size-md, #6f6f6f, $regular, $secondary-font);
      @include text($font-size-md, #6f6f6f, $regular, $tertiary-font);
      font-family: $tertiary-font !important;
      padding-bottom: 6px;
      margin: 0;
      line-height: normal;
      text-align: center;
    }
  }

  &--footer__tooltip--text,
  &--footer__title {
    .heading {
      @include text($font-size-sm, $white, $bold);
      margin: 0 0 1.5rem;
    }

    .paragraph {
      @include text($font-size-md, $white, $normal);
    }
  }

  &--footer__methods--title {
    @include tablet {
      justify-content: center;
    }

    .heading {
      margin: 0 0 14px;
      @include text($font-size-md, $text-color-1, $regular);
      text-transform: uppercase;
      @include tablet {
        margin: 24px 0 8px;
        text-align: center;
      }
    }
  }

  &--footer__newsletter--title {
    width: 100%;
    align-items: center;
    @include tablet {
      max-width: none;
      margin: 0;
      text-align: center;
      justify-content: center;
    }

    @include phone {
      justify-content: start;
    }

    .wrapper {
      .paragraph {
        @include text($font-size-xlg, $white, $bold);
        line-height: 24.38px;
        margin: 0;

        @include tablet {
          @include text($font-size-lg, $white, $bold);
          line-height: 150%;
        }
      }
    }
  }

  &--footer__newsletter--title-mobile {
    .heading {
      @include text(1.25rem, $white, $semi-bold);
      line-height: normal;
      margin: 0;
      padding-bottom: 0.86rem;
      text-align: left;
    }
  }

  &--footer__newsletter--subtitle-mobile {
    .paragraph {
      @include text($font-size-xs, $white, $normal);
      line-height: 14.364px;
      opacity: 0.7;
      margin: 0;
      padding-bottom: 13px;
    }
  }

  &--footer__social-media__title {
    @include tablet {
      justify-content: center;
    }

    .paragraph {
      margin: 24px 0 8px;
      text-transform: uppercase;
      @include text($font-size-md, $text-color-1, $regular);
    }
  }

  &--footer__menu__showrooms {
    .paragraph {
      margin: 0;
    }

    &_first {
      .paragraph {
        margin-bottom: 24px;
      }
    }
  }
}

.heading {
}

.headingLevel1 {
}

.headingLevel2 {
}

.headingLevel3 {
}

.headingLevel4 {
}

.headingLevel5 {
}

.headingLevel6 {
}

.image {
}

.italic {
}

.link {
}

.list {
}

.listItem {
}

.listOrdered {
}

.paragraph {
}

.strong {
}

.table {
}

.tableBody {
}

.tableHead {
}

.tableTd {
}

.tableTh {
}

.tableTr {
}

.wrapper {
  &--footer__copyright {
    @include tablet {
      width: 100%;
    }
  }
}
