.flexRow {
  &--footer__newsletter {
    padding: 24px 0 21px;
    margin-bottom: 0;
    background-color: $primary-pure-500;

    @include tablet {
      padding: 1.5rem 1rem;
    }
  }

  &--footer__payment-methods,
  &--footer__menu {
    background-color: $color-c-12;
    padding: 51px 0;

    &__area--mob {
      background-color: $color-c-12;
      @include tablet {
        flex-direction: column;
      }
    }
  }

  &--footer__payment-methods {
    padding-top: 0;
  }

  &--footer_legal_information {
    border-top: 1px solid $high-light;
    @include tablet {
      border: none;
    }
  }

  &--footer_legal_information {
    background-color: $white;
    padding: 24px 0;
  }

  &--footer__methods {
    background-color: $white;
    padding: 16px 0 0;
  }

  &--credits {
    padding: 1.5rem 0;
    @include tablet {
      padding: 1rem;
    }
  }

  &--footer__payment-methods {
    justify-content: flex-start;
  }
}

.flexRowContent {
  &--footer__newsletter {
    justify-content: center;

    .stretchChildrenWidth {
      width: 100% !important;

      &:first-child {
        width: auto !important;
        white-space: pre;
      }
    }
  }

  &--home__footer--developed-powered-wrapper {
    display: flex;
    justify-content: flex-start;
    @include tablet {
      justify-content: center;
    }
  }

  &--payment-methods-flags {
    @include tablet {
      justify-content: center !important;
      flex-direction: column;
    }
  }

  &--footer__methods {
    padding: 32px 0;
    @include tablet {
      padding: 0 !important;
      border-bottom: 1px solid $high-light;
    }
  }

  &--footer__newsletter {
    max-width: 500px;
    margin: 0 auto;
  }

  &--footer_legal_information,
  &--footer__menu,
  &--footer__newsletter,
  &--footer__payment-methods,
  &--credits {
    @extend %container-large;
  }
  &--footer__menu {
    &__area--mob {
      @include tablet {
        flex-direction: column;
        .stretchChildrenWidth {
          width: 100% !important;
        }
      }
    }
  }

  &--footer__payment-methods,
  &--footer_legal_information,
  &--footer__methods {
    @include tablet {
      flex-direction: column;
      .stretchChildrenWidth {
        width: 100% !important;
      }
    }
  }

  &--footer__payment-methods {
    justify-content: flex-start;
  }

  &--home__footer--high {
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    @include tablet {
      justify-content: center !important;
      margin-bottom: 1.5rem;
    }
  }
}

.flexCol {
  &--home__footer--powered {
    @include tablet {
      margin-right: 1.5rem;
    }
  }

  &--home__footer--high {
    @include tablet {
      margin-bottom: 1.5rem;
    }
  }
}

.flexColChild {
}
