.cart-template {
  .custom-cart-template-wrap {
    padding: 61px 20px 27px 20px !important;

    @media (max-width: $screen-xs-max) {
      padding: 15px !important;
    }
  }

  #go-to-cart-button {
    top: 1.5rem !important;

    a {
      color: #000 !important;
    }
  }

  .summary-template-holder {
    box-shadow: none;
    border: none;

    .totalizers-list {
      border: 0 !important;
    }
  }

  .coupon-label {
    display: block !important;
    text-align: left;
    margin-bottom: 0.5rem !important;

    label {
      color: #808080;
      font-size: 14px !important;
      font-weight: 400;
      font-style: normal;
    }
  }

  .coupon-fields {
    span {
      align-items: center;

      #cart-coupon {
        width: 100%;
        max-width: 70%;
      }

      #cart-coupon-add {
        border-radius: 6px;
        border: 2px solid $secondary-pure-500;
        color: $secondary-pure-500;
        width: 100%;
        max-width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 48px !important;
        position: relative;
        // font-size: 0;

        // &::before {
        //   content: 'Enviar';
        //   font-size: 0.9rem;
        // }

        // &::after {
        //   content: url('/arquivos/icon-enviar.png');
        //   font-size: 0.9rem;
        //   position: absolute;
        //   top: -1px;
        //   right: 15px;
        // }
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .totalizers {
    .info,
    .monetary {
      color: #808080 !important;
    }
  }
}
