.client-profile-data {
  // .active & {
  // }
  &.filled {
    opacity: 0.5;
  }

  .box-client-info-pf {
    .client-notice {
      font-size: 14px;
      font-weight: 600;
      color: #808080;
    }

    .client-email {
      label {
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .box-client-info-pj {
    a {
      color: #ffdb00 !important;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      text-decoration-line: underline;
    }
  }

  .newsletter {
    .checkbox {
      min-height: unset;
      height: 50px;
      display: flex;
      align-items: center;
      position: relative;
    }

    input[type='checkbox'] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 20px;
      height: 20px;
      background-color: $white;
      border: 1px solid #f2f2f2;
      cursor: pointer;
    }

    input[type='checkbox']:checked {
      background-color: #ffdb00;
      border-color: #ffdb00;

      & + .newsletter-text {
        &::before {
          font-family: Arial, sans-serif;
          content: '\2713';
          left: 4px;
          position: absolute;
          color: white;
          top: 18px;
          font-size: 17px;
        }
      }
    }

    .newsletter-text {
      color: #7f7f7f;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.1px;
      margin-left: 0.5rem;
    }
  }

  #go-to-shipping {
    border-radius: 0.125rem !important;
    text-transform: uppercase !important;
    padding: 1rem;
  }

  input[type='email'],
  input[type='text'] {
    height: 48px;
  }
}

.accordion-toggle {
  > span {
    color: #515151;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;

    &:before {
      border: none !important;
      background: #fff !important;
      color: #515151 !important;
      margin: 0 !important;
      font-size: 1.25rem !important;
    }
  }
}

#shipping-data {
  span {
    color: #515151 !important;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:before {
      border: none !important;
      background: #fff !important;
      color: #515151 !important;
      margin: 0 !important;
      font-size: 1.25rem !important;
    }
  }
}

.state-inscription-box {
  label.checkbox {
    position: relative;
    display: flex;
    align-items: end;
  }

  .exempt-si-text {
    margin-left: 0.5rem;
  }

  input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: $white;
    border: 1px solid #f2f2f2;
    cursor: pointer;
  }

  input[type='checkbox']:checked {
    background-color: #ffdb00;
    border-color: #ffdb00;

    & + .exempt-si-text {
      &::before {
        font-family: Arial, sans-serif;
        content: '\2713';
        left: 4px;
        position: absolute;
        color: white;
        top: 5px;
        font-size: 17px;
      }
    }
  }
}

.AddressToggle {
  input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: $white;
    border: 1px solid #f2f2f2;
    cursor: pointer;
  }

  input[type='checkbox']:checked {
    background-color: #ffdb00;
    border-color: #ffdb00;

    & + label {
      &::before {
        font-family: Arial, sans-serif;
        content: '\2713';
        left: 4px;
        position: absolute;
        color: white;
        top: 5px;
        font-size: 17px;
      }
    }
  }
}
