.client-profile-data {
  // .active & {
  // }

  .box-client-info-pf {
    .client-notice {
      font-size: 14px;
      font-weight: 600;
      color: #808080;
    }

    .client-email {
      label {
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .box-client-info-pj {
    a {
      background-color: $black;
      color: $white !important;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;
      padding: 0.95rem;
      margin-top: 1.12rem;
      margin-bottom: 1.5rem;
      display: block;
      border-radius: 0.125rem;
    }
  }

  .newsletter {
    .checkbox {
      min-height: unset;
      height: 50px;
      display: flex;
      align-items: center;
      position: relative;
    }

    input[type='checkbox'] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 20px;
      height: 20px;
      background-color: $white;
      border: 2px solid #ffdb00;
      cursor: pointer;
    }

    input[type='checkbox']:checked {
      background-color: #ffdb00;
      border-color: #ffdb00;

      & + .newsletter-text {
        &::before {
          font-family: Arial, sans-serif;
          content: '\2713';
          left: 4px;
          position: absolute;
          color: white;
          top: 18px;
          font-size: 17px;
        }
      }
    }

    .newsletter-text {
      color: #7f7f7f;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.1px;
      margin-left: 0.5rem;
    }
  }

  #go-to-shipping {
    border-radius: 6px !important;
  }

  input[type='email'],
  input[type='text'] {
    height: 48px;
  }
}

.accordion-toggle {
  > span {
    color: #000;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;

    &:before {
      border-radius: 33px;
      border: 2px solid $secondary-pure-500 !important;
      background: #f7f5f2 !important;
      color: $secondary-pure-500 !important;
    }
  }
}

#shipping-data {
  span {
    color: #000;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;

    &:before {
      border-radius: 33px;
      border: 2px solid $secondary-pure-500 !important;
      background: #f7f5f2 !important;
      color: $secondary-pure-500 !important;
    }
  }
}
