@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: $main-font !important;
}

body.body-order-form {
  .main-header {
    margin-bottom: 38px !important;

    .header-link {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }
}

.main-header {
  border-bottom: none !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 100px !important;

  .logo {
    margin-top: 2.12rem;
    margin-bottom: 2.44rem;
  }

  .header-link {
    top: calc(100% + 70px) !important;
  }

  .buy-more-link {
    font-size: $font-size-xs + 2 !important;
    line-height: 21px !important;
    justify-content: center;
    font-weight: $bold;
    color: #000 !important;

    &::before {
      margin-right: 1rem;
      background-color: #000 !important;
    }
  }

  .checkout-steps {
    @media (max-width: 768px) {
      display: block !important;
      max-width: none !important;
      min-width: auto !important;
      padding: 18px 0 !important;
      margin: 0 !important;
    }
  }
  .checkout-steps_items {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 85%;
      height: 1px;
      background: #c9c9c9;
      position: absolute;
      top: 16px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .checkout-steps_item.visited {
    opacity: 1 !important;
    color: $text-pure-500 !important;
    font-weight: $bold !important;

    .text {
      opacity: 1 !important;
      color: $color-1 !important;
      font-weight: $bold !important;
    }
  }

  .checkout-steps_item {
    flex: 1;
    justify-content: center !important;
    opacity: 1 !important;
    color: $primary-pure-500 !important;
    font-weight: $bold !important;

    &::after {
      display: none;
    }

    .visited {
      .text {
        color: $text-pure-500 !important;
        font-weight: $bold !important;
      }
      color: $text-pure-500 !important;
      font-weight: $bold !important;
    }

    .text {
      opacity: 1 !important;
      font-weight: 500 !important;
      color: #bdc3c9 !important;
      display: flex;
      flex-direction: column;
      font-size: 10px;

      &::before {
        content: '';
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.04px;
        height: 33.04px;
        border: 2px solid #929ba2;
        color: #929ba2;
        background: #f7f5f2;
        margin: 0;
        font-weight: 500;
        font-size: 15px;

        @media (max-width: $screen-xs-max) {
          width: 25px;
          height: 25px;
        }
      }
    }

    &.active {
      .text {
        color: $secondary-pure-500 !important;
        font-weight: 700 !important;
        font-size: 10px;

        &:before {
          border: 2px solid $secondary-pure-500;
          color: $secondary-pure-500;
        }
      }
    }
  }

  .checkout-steps_item_cart {
    .text {
      &::before {
        content: '1';
      }
    }
  }

  .checkout-steps_item_identification {
    .text {
      &::before {
        content: '2';
      }
    }
  }

  .checkout-steps_item_shipping {
    .text {
      &::before {
        content: '3';
      }
    }
  }

  .checkout-steps_item_payment {
    .text {
      &::before {
        content: '4';
      }
    }
  }

  .checkout-steps_item_confirmation {
    .text {
      &::before {
        content: '5';
      }
    }
  }

  @include tablet {
    padding: 0 !important;
    margin-bottom: 5.44rem !important;

    .container {
      justify-content: center;
      flex-direction: column;
    }

    .header-link {
      padding-top: 0;
      top: calc(100% + 47px) !important;

      a {
        max-width: unset !important;
      }
    }
  }
}

@include tablet {
  body:not(.body-cart) .main-header .logo:before {
    content: none;
  }

  body:not(.body-cart) .main-header .logo img {
    display: block !important;
  }

  body:not(.body-cart) .main-header {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }
}
