body.js-vcustom-hideEmailStep
  .client-profile-data
  .accordion-toggle
  > span:before {
  content: '2.';
}

body.js-vcustom-hideEmailStep .shipping-data .accordion-toggle:before {
  content: '3.';
}

body.js-vcustom-hideEmailStep
  .payment-data
  .accordion-toggle
  > span:not(.payment-edit-link):before {
  content: '4.';
}

#client-profile-data,
#payment-data {
  .accordion-toggle {
    span {
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.vtex-omnishipping-1-x-shippingDataDev {
  opacity: 0.5;

  .address-summary {
    span {
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
    }
  }

  &.active {
    opacity: 1;

    .accordion-toggle {
      span {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}
