* {
  font-family: $main-font;
}

body {
  padding-bottom: 0 !important;
  font-family: $main-font !important;
  background-color: $background-checkout !important;

  @include tablet {
    padding-bottom: 3rem !important;
  }
}

// .container.container-main.container-cart {
//   @extend %container;
// }

.cart-template.full-cart {
  margin-top: 1.25rem;
  @extend %container;
}

button#go-to-shipping,
button#go-to-payment,
button#payment-data-submit {
  @extend %primary-button;
  text-transform: lowercase !important;
  &::first-letter {
    text-transform: uppercase !important;
  }
  border-radius: 6px !important;
}
.btn-place-order-wrapper {
  @include tablet {
    position: sticky;
    bottom: 0;
    z-index: 2000;
  }
  // a#cart-to-orderform {
  //   @extend %primary-button;
  //   padding: 0.5rem 0;
  //   text-transform: lowercase !important;
  //   &::first-letter {
  //     text-transform: uppercase !important;
  //   }
  //   border-radius: 50px !important;
  //   @include tablet {
  //     position: sticky;
  //     bottom: 0;
  //     z-index: 2000;
  //   }
  // }
}

.btn-success {
  @include text($font-size-md, $white, $semi-bold);
  width: 100%;
  padding: 0.8125rem 0;
  // text-transform: uppercase;
  text-transform: lowercase !important;
  &::first-letter {
    text-transform: uppercase !important;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart-coupon {
  @include text($font-size-md, $text-pure-500, $regular);
  height: 48px !important;
  padding: 0 1.5rem;
  @include tablet {
    padding: 0 1rem;
  }
}

th.product {
  max-width: 442px;
}

.product-item {
  .v-custom-product-item-wrap {
    display: grid;
    border-bottom: 1px solid #e4e4e4 !important;

    .product-image {
      a {
        margin-right: 1rem !important;
      }
    }

    .product-name {
      max-width: 270px !important;
      margin-right: 2.75rem;

      a {
        height: 40px;
        overflow: hidden;
        display: block;
      }
    }

    .quantity {
      border: 0 !important;

      a,
      input {
        font-size: 1.125rem;
        color: #000;
      }
    }

    .product-price {
      margin: auto;
    }
  }
}
