* {
  font-family: $main-font;
}

body {
  padding-bottom: 0 !important;
  font-family: $main-font !important;
  background-color: $high-light;

  @include tablet {
    padding-bottom: 3rem !important;
  }
}

// .container.container-main.container-cart {
//   @extend %container;
// }

.cart-template.full-cart {
  margin-top: 1.25rem;
  @extend %container;
}

.checkout-steps_items {
  @include tablet {
    display: none;
  }
}
button#go-to-shipping,
button#go-to-payment,
button#payment-data-submit {
  @extend %primary-button;
  text-transform: lowercase !important;
  &::first-letter {
    text-transform: uppercase !important;
  }
  border-radius: 50px !important;
}
.btn-place-order-wrapper {
  @include tablet {
    position: sticky;
    bottom: 0;
    z-index: 2000;
  }
  // a#cart-to-orderform {
  //   @extend %primary-button;
  //   padding: 0.5rem 0;
  //   text-transform: lowercase !important;
  //   &::first-letter {
  //     text-transform: uppercase !important;
  //   }
  //   border-radius: 50px !important;
  //   @include tablet {
  //     position: sticky;
  //     bottom: 0;
  //     z-index: 2000;
  //   }
  // }
}

.btn-success {
  @include text($font-size-md, $white, $semi-bold);
  width: 100%;
  padding: 0.8125rem 0;
  // text-transform: uppercase;
  text-transform: lowercase !important;
  &::first-letter {
    text-transform: uppercase !important;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart-coupon {
  @include text($font-size-md, $text-pure-500, $regular);
  height: 48px !important;
  padding: 0 1.5rem;
  @include tablet {
    padding: 0 1rem;
  }
}

// button#cart-coupon-add {
//   @include text($font-size-md, $primary-pure-500, $semi-bold);
//   // text-transform: uppercase;
//   border-radius: 50px !important;
//   transition: all 0.2s;
//   height: 48px !important;
//   padding: 0 1rem;
//   text-transform: lowercase !important;
//   &::first-letter {
//     text-transform: uppercase !important;
//   }

//   &:hover,
//   &:active,
//   &:focus {
//     background-color: $primary-pure-500;
//     color: $white;
//   }
// }

#shipping-calculate-link {
  font-size: 0;
  transition: all 0.2s;

  &::after {
    content: 'Calcule o frete';
    font-size: $font-size-md;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $primary-pure-500;
    color: $white;
  }
}

.mini-cart .item {
  color: $text-dark-400 !important;
  .product-name {
    font-size: $font-size-sm;
    font-weight: $bold;
    color: $text-dark-400 !important;
    width: auto !important;
    white-space: unset;
    float: none;
  }
}

.mini-cart .description {
  color: $text-dark-400 !important;
  font-size: $font-size-sm !important;
  margin-left: 50px !important;
  margin-top: 0.5rem !important;
}
.checkout-container.row-fluid.orderform-active {
  margin-bottom: 4rem;
}
.row-fluid.orderform-template.span12.active {
  overflow-y: auto;
  @extend %scrollbar;
  margin-bottom: 6rem;
}

.orderform-template .cart-template.mini-cart .quantity {
  top: 3px;
  left: 3px;
}

.orderform-template .cart-template.mini-cart #go-to-cart-button {
  top: 2.125rem;
  left: 1.25rem;
  right: unset;
  text-decoration: none;

  a {
    @include text($font-size-sm, $text-pure-500, $regular);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 12L6 8L10 4' stroke='%23191919' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      width: 1rem;
      height: 1rem;
      margin-right: 1rem;
    }
  }
}

.custom-cart-template-wrap {
  padding-top: 4rem !important;

  @include tablet {
    padding-top: 1rem !important;
  }
}

.srp-container {
  .onda-v1 .blue {
    background: $white;
  }
}

.cart-more-options .srp-container {
  .ship-postalCode {
    max-width: 475px;
  }

  .srp-main-title {
    @include text($font-size-lg, $text-pure-500, $bold);
    // text-transform: uppercase;
    text-transform: lowercase !important;
    &::first-letter {
      text-transform: uppercase !important;
    }
    line-height: 1;
    padding-bottom: 1.5rem;
  }
}
.cart-more-options {
  #shipping-preview-container {
    @include tablet {
      display: block !important;
    }
  }
}

#ship-postalCode {
  @include text($font-size-md, $text-pure-500, $regular);
  padding: 0.625rem 1.5rem;
  height: 3rem;
  border: 1px solid $high-medium;
  border-radius: 0.25rem;

  @include tablet {
    font-size: $font-size-sm;
  }
}

#cart-shipping-calculate {
  @include text($font-size-md, $primary-pure-500, $bold);
  height: 3rem;
  padding: 0.625rem 1.5rem;
  // text-transform: uppercase;
  text-transform: lowercase !important;
  &::first-letter {
    text-transform: uppercase !important;
  }
  transition: all 0.2s;
  @include tablet {
    font-size: $font-size-sm;
  }
  &:disabled {
    background-color: $cta-disable-50;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: $primary-pure-500;
    color: $white;
  }
}

.v-custom-product-item-wrap {
  padding: 1rem 0;

  .product-name a {
    color: $text-pure-500 !important;
    font-weight: $regular !important;
  }

  .brand-name {
    @include text($font-size-sm, $text-dark-400, $regular);
    display: block;
    padding: 0.5rem 0;
  }

  .seller {
    @include text($font-size-sm, $text-pure-500, $regular);
  }
}

.btn-go-to-payment-wrapper {
  margin: 1rem 0 !important;
}

.table.cart-items {
  thead {
    border-bottom: 1px solid $high-medium;

    tr th.product {
      width: calc(100% - 295px) !important;
      padding-left: 0 !important;
      font-weight: $bold;
    }

    tr th.product-price {
      width: 165px !important;
      font-weight: $bold;
    }
    tr th.quantity {
      font-weight: $bold;
    }
  }

  tbody tr td.product-price {
    .v-custom-quantity-price__list--selling {
      margin: 5px 0;
    }

    .list-price {
      font-size: $font-size-xs;

      @include tablet {
        padding-right: 1.5rem;
      }
    }

    .best-price {
      font-size: $font-size-xxs;
    }
  }

  th {
    font-weight: $regular;
  }

  td.quantity {
    margin: 0;
    padding: 0 0.3125rem;

    @include tablet {
      width: 100% !important;
      max-width: 120px !important;
    }

    @media (max-width: 355px) {
      max-width: 80px !important;
    }

    input {
      @include text($font-size-sm, $text-pure-500, $regular);
      width: 70px !important;
      height: 48px !important;

      @include tablet {
        width: 100% !important;
        height: 36px !important;
      }
    }

    .item-quantity-change i {
      line-height: 1;
    }

    .item-quantity-change.item-quantity-change-decrement i:before,
    .item-quantity-change.item-quantity-change-increment i:before {
      font-size: $font-size-h3 - 2;
    }
  }
}

.clearfix.pull-right.cart-links.cart-links-bottom.hide {
  position: unset !important;
  display: block !important;
  .summary-template-holder.cart-links-bottom {
    @include tablet {
      position: unset !important;
      display: block !important;
    }
  }
}
.summary-template-holder {
  tbody {
    padding-bottom: 0;

    td {
      font-size: $font-size-sm !important;
      padding-bottom: 0.8rem !important;

      @include tablet {
        font-size: $font-size-xs !important;
      }
    }
  }

  tfoot {
    tr td {
      font-size: $font-size-md !important;

      @include tablet {
        font-size: $font-size-sm !important;
      }
    }

    tr td.info {
      color: $text-pure-500;

      &::after {
        content: ':';
      }
    }

    tr td.monetary {
      color: $text-pure-500 !important;
    }
  }
}

.monetary {
  color: $text-pure-500 !important;
}

.mini-cart {
  color: $text-pure-500;

  .item {
    color: $text-pure-500;
  }
}

.orderform-template .cart-template.mini-cart .summary-totalizers {
  tbody {
    padding-bottom: 0;

    td {
      font-size: $font-size-sm !important;
      padding-bottom: 1.2rem !important;
    }
  }

  tfoot {
    tr td {
      font-size: $font-size-md !important;
      padding-bottom: 22px !important;

      @include tablet {
        font-size: $font-size-sm !important;
      }
    }
  }
}

.client-pre-email h3.client-pre-email-h span:before {
  margin-right: 1rem !important;
}

body.v-custom-step-profile {
  .client-profile-data .accordion-toggle > span:before {
    background-color: $primary-pure-500 !important;
    color: $white !important;
    text-transform: unset !important;

    font-weight: $bold !important;
    font-size: $font-size-h3 !important;
  }
}

body.v-custom-step-shipping {
  .shipping-data .accordion-toggle:before,
  .client-profile-data .accordion-toggle > span:before {
    background-color: $primary-pure-500 !important;
    color: $white !important;
    text-transform: unset !important;

    font-weight: $bold !important;
    font-size: $font-size-h3 !important;
  }
}

body.v-custom-step-payment {
  .shipping-data .accordion-toggle:before,
  .accordion-toggle > span:before {
    background-color: $primary-pure-500 !important;
    color: $white !important;
    text-transform: unset !important;

    font-weight: $bold !important;
    font-size: $font-size-h3 !important;
  }
}

p.payment-submit-wrap {
  @include tablet {
    position: relative !important;
  }
}

.link-box-edit {
  opacity: 1 !important;
  transition: all 0.2s;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.8 !important;
  }
}

.shipping-data .accordion-toggle.collapsed::before {
  margin-right: 0.8rem !important;
}

.orderform-template .cart-template.mini-cart h2 {
  // text-transform: uppercase;
  font-size: $font-size-lg;
  font-weight: $regular;
}

.client-pre-email {
  h3.client-pre-email-h {
    span::after {
      // text-transform: uppercase;
      font-weight: $regular;
      font-size: $font-size-lg;
    }
  }

  label small {
    font-size: $font-size-md;

    @include tablet {
      font-size: $font-size-sm !important;
    }
  }

  .emailInfo {
    width: 100%;
    max-width: 360px;
    background: $white;

    h3 {
      @include text($font-size-sm, $text-pure-500, $regular);
    }

    ul {
      @include text($font-size-xs, $text-dark-400, $regular);
    }
  }
}
#payment-data-submit {
  @extend %primary-button;
}
.client-email {
  input[type='email'] {
    @include text($font-size-md, $text-pure-500, $regular);
    padding: 0 1rem !important;

    @include tablet {
      font-size: $font-size-sm !important;
    }
  }

  #payment-data-submit {
    @extend %primary-button;
  }
  .btn-success {
    width: 100% !important;
    min-width: auto !important;
    max-width: 143px !important;
    @extend %primary-button;
  }
}

.orderform-template-holder #client-profile-data .step.client-profile-data {
  input[type='text'],
  input[type='email'] {
    height: 37px !important;
    @include text($font-size-md, $text-pure-500, $regular);
    padding: 0 1.5rem !important;

    @include tablet {
      font-size: $font-size-sm !important;
    }
  }
}

.orderform-template-holder #shipping-data {
  input[type='text'] {
    height: 37px !important;
    @include text($font-size-md, $text-pure-500, $regular);
    padding: 0 1.5rem !important;

    @include tablet {
      font-size: $font-size-sm !important;
    }
  }
}

.note-label label {
  @include text($font-size-md, $text-pure-500, $regular);
}

input.success:not([invalid='true']) {
  background-position: center right !important;
}

.orderform-template
  .cart-template.mini-cart
  .summary-template-holder
  .summary
  > .summary-coupon-wrap {
  padding: 1rem 0;
}

.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-addressSummaryActive
  .address-summary {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.01799 10.9819L2.99999 10.9999H4.99999V19.9999C4.99999 20.2651 5.10534 20.5195 5.29288 20.707C5.48042 20.8945 5.73477 20.9999 5.99999 20.9999H18C18.2652 20.9999 18.5196 20.8945 18.7071 20.707C18.8946 20.5195 19 20.2651 19 19.9999V10.9999H21L20.982 10.9819C21.1482 10.9882 21.3133 10.9523 21.4619 10.8777C21.6105 10.803 21.7378 10.692 21.832 10.5549C21.9048 10.4456 21.9554 10.323 21.9809 10.1941C22.0064 10.0652 22.0062 9.93261 21.9804 9.80381C21.9545 9.675 21.9036 9.55255 21.8304 9.44344C21.7573 9.33433 21.6633 9.2407 21.554 9.16791L12.554 3.16791C12.3897 3.05827 12.1965 2.99976 11.999 2.99976C11.8014 2.99976 11.6083 3.05827 11.444 3.16791L7.99999 5.46491V3.99991C7.99999 3.73469 7.89463 3.48034 7.70709 3.2928C7.51956 3.10526 7.2652 2.99991 6.99999 2.99991C6.73477 2.99991 6.48042 3.10526 6.29288 3.2928C6.10534 3.48034 5.99999 3.73469 5.99999 3.99991V6.79991L2.44599 9.16791C2.33663 9.2407 2.2427 9.33433 2.16954 9.44344C2.09638 9.55255 2.04544 9.675 2.01962 9.80381C1.99381 9.93261 1.99362 10.0652 2.01908 10.1941C2.04454 10.323 2.09513 10.4456 2.16799 10.5549C2.26196 10.6922 2.38923 10.8034 2.5379 10.8781C2.68656 10.9527 2.85175 10.9885 3.01799 10.9819ZM14 18.9999H9.99999V15.9999C9.99999 15.7347 10.1053 15.4803 10.2929 15.2928C10.4804 15.1053 10.7348 14.9999 11 14.9999H13C13.2652 14.9999 13.5196 15.1053 13.7071 15.2928C13.8946 15.4803 14 15.7347 14 15.9999V18.9999ZM9.99999 10.9999H14C14.2652 10.9999 14.5196 11.1053 14.7071 11.2928C14.8946 11.4803 15 11.7347 15 11.9999C15 12.2651 14.8946 12.5195 14.7071 12.707C14.5196 12.8945 14.2652 12.9999 14 12.9999H9.99999C9.73477 12.9999 9.48042 12.8945 9.29288 12.707C9.10534 12.5195 8.99999 12.2651 8.99999 11.9999C8.99999 11.7347 9.10534 11.4803 9.29288 11.2928C9.48042 11.1053 9.73477 10.9999 9.99999 10.9999Z' fill='%23E31C79'/%3E%3C/svg%3E%0A");
  background-position: 10px center;
}

.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-linkEdit {
  text-decoration: none;
}

.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-summaryChange {
  @include text($font-size-md, $primary-pure-500, $semi-bold);
  background-color: $white;
  // text-transform: uppercase;
  transition: all 0.2s;
  height: 40px !important;
  border: 1px solid $primary-pure-500;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    font-size: $font-size-sm !important;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: $primary-pure-500;
    color: $white;
    text-decoration: none;
  }
}
div.cart-select-gift-placeholder:empty {
  display: none !important;
}
.orderform-template-holder
  #payment-data
  .v-custom-payment-item-wrap
  .payment-group-item,
.orderform-template-holder #payment-data p.link.link-gift-card {
  background: $white !important;

  .payment-group-item-text,
  a {
    @include text($font-size-md, $text-pure-500, $regular);
    font-size: 16px !important;

    @include tablet {
      font-size: $font-size-sm !important;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  a {
    padding: 0.75rem 1.5rem;
  }

  &.active {
    border-bottom: 1px solid $high-medium !important;
  }
}

.orderform-template-holder
  #payment-data
  .v-custom-payment-item-wrap
  .payment-method {
  fieldset {
    @include text($font-size-md, $text-pure-500, $regular);
    font-size: 16px !important;

    @include tablet {
      font-size: $font-size-sm !important;
    }
  }
}

#payment-data-submit {
  .icon-lock {
    display: none;
  }
}

@include tablet {
  body::before {
    width: 0;
    height: 4px;
    background: $primary-pure-500;
    display: block;
    content: '';
    position: fixed;
    top: 0;
    transition: all ease 0.3s;
    z-index: 999;
  }

  body.v-custom-step-email::before {
    width: 23%;
  }

  body.v-custom-step-profile::before {
    width: 46%;
  }

  body.v-custom-step-shipping::before {
    width: 69%;
  }

  body.v-custom-step-payment::before {
    width: 92%;
  }

  .checkout-steps {
    display: none !important;
  }

  .body-cart-vertical .cart-template.full-cart.active {
    margin-top: 0;
  }

  .orderform-template .cart-template.mini-cart .summary-template-holder,
  body.js-vcustom-showNoteField .orderform-template .payment-confirmation-wrap {
    position: static;
  }

  .orderform-template .cart-template.mini-cart #go-to-cart-button {
    display: none;
  }

  .orderform-template-holder
    #payment-data
    .v-custom-payment-item-wrap
    .payment-group-item-cards {
    display: none;
  }
}
.shipping-data.accordion-toggle.collapsed,
.accordion-toggle.collapsed > span,
.shipping-data .accordion-toggle.collapsed,
.accordion-toggle.collapsed > span {
  text-transform: unset !important;

  font-weight: $bold !important;
  font-size: $font-size-h3 !important;

  &::before {
    background-color: $white !important;
    border-color: $primary-pure-500 !important;
    color: $primary-pure-500 !important;
    margin-right: 1rem !important;
    text-transform: unset !important;

    font-weight: $bold !important;
    font-size: $font-size-h3 !important;
  }
}
button#btn-go-to-payment {
  @extend %primary-button;
  border-radius: 50px;
}
a#open-shipping {
  border-radius: 50px !important;
  height: 36px !important;
}
h2[data-i18n='totalizers.summary'] {
  font-weight: $bold !important;
  text-transform: uppercase !important;
}
a#cart-choose-products {
  @extend %primary-button;
  border-radius: 50px;
  height: unset;
  padding: 1rem 0;
}
a#orderform-minicart-to-cart {
  font-size: $font-size-xs !important;
  color: $text-pure-500 !important;
  font-weight: $bold !important;
  text-decoration: none !important;
}
.orderform-template .cart-template.mini-cart,
div.cart-template.mini-cart.span4,
.orderform-template.cart-template.mini-cart {
  position: relative !important;
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
}

@media (min-width: 768px) {
  .header-link {
    width: 100%;
  }

  .buy-more-link .link {
    display: flex;
    justify-content: flex-start !important;
    width: 100%;
    background-color: #f5f5f5;
    height: 38px;
    top: -16px;
    position: relative;
    width: 100%;
  }

  a.buy-more-link.link {
    // background-color: #f5f5f5;
    // top: -16px;
    justify-content: flex-start !important;
    height: 40px !important;
    position: relative;
  }

  .cart-template.full-cart.span12.active {
    margin-bottom: 11rem !important;
  }
}
