.filter {
  &--al-search__filter {
    padding: 1rem 1.5rem 0.1563rem;
  }
}

.accordionFilter {
  color: $text-color-1-500;

  @include tablet {
    padding-top: 3.75rem;
    padding-bottom: 4.8125rem;
  }
}

.accordionFilterContainer {
  padding: 0 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.accordionFilterContent {
  &--al-search__filter--mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    :first-child {
      margin: 0;
      padding: 0;
    }

    .caretIcon {
      width: 1rem;
      height: 1rem;
      margin-bottom: -0.375rem;
    }
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  position: relative;

  :global(.vtex-tag) {
    background-color: $primary-pure-500;
    border-radius: 0.125rem;
    padding: 0.25rem 0.5rem;
    position: absolute;
    right: 2.8125rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &--al-search__filter--mobile {
    padding: 0;
    margin: 0;

    @include tablet {
      padding: 0 1rem;
      padding-bottom: 1.125rem;
      padding-top: 1rem;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color-1-500;
      transition: all 0.2s;
    }
  }
}

.accordionFilterItem {
  &--al-search__filter--mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;

    &:hover,
    &:focus,
    &:active {
      color: $color-1-500;
      transition: all 0.2s;
    }
  }
}

.accordionFilterItemActive {
  &--al-search__filter--mobile {
    color: $color-1-500;
    transition: all 0.2s;
  }
}

.accordionFilterItemBox {
}

.accordionFilterItemHidden {
}

.accordionFilterItemIcon {
  color: $text-color-1-500;
  padding: 0;

  .caretIcon {
  }
}

.accordionFilterItemOptions {
  padding-left: 0;
}

.accordionFilterItemTitle {
  &--al-search__filter--mobile {
    @include text($font-size-sm, $text-pure-500, $bold);
    line-height: normal;
    text-transform: none;

    @include tablet {
      font-size: $font-size-md;
    }
  }
}

.accordionFilterOpen {
  @extend %scrollbar;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.accordionSelectedFilters {
}

.border {
}

.breadcrumb {
}

.buttonShowMore {
  &--layout,
  &--al-search__fetch--previous {
    :global(.vtex-button) {
      @extend %primary-button;
      padding: 0.625rem 1.0625rem;

      :global(.vtex-button__spinner-container) {
        color: $high-pure;

        :first-child {
          color: $high-pure;
        }
      }
    }

    :global(.vtex-button__label) {
      padding: 0 !important;
    }

    &:empty {
      display: none;
    }
  }

  &--al-search__fetch--previous {
    padding-top: 2rem;

    :global(.vtex-button) {
      :global(.vtex-button__label) {
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    @include tablet {
      padding-top: 1.5rem;
    }

    &:empty {
      display: none;
    }
  }

  &--al-search__fetch--more {
    padding-bottom: 1.1875rem;
    padding-top: 1.5rem;

    @include tablet {
      padding-top: 0;
      padding-bottom: 2.0625rem;
    }

    :global(.vtex-button) {
      background: transparent !important;
      border: 0.125rem solid $primary-pure-500 !important;
      border-radius: 0.125rem;
      height: 3rem;
      width: 12.5625rem;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.9;
      }
    }

    :global(.vtex-button__label) {
      @include text($font-size-md, $primary-pure-500, $bold);
      text-transform: initial;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.9;
      }
    }

    &:empty {
      display: none;
    }
  }
}

.categoriesContainer {
}

.categoryGroup {
}

.categoryParent {
}

.clearAllFilters {
  @extend %primary-button;
}

.closeIconButton {
  align-items: center;
  color: $text-color-1-500 !important;
  font-weight: $bold;
  padding: 0.5rem 1rem;
  right: 0;
  z-index: 9999999;

  @include tablet {
    padding: 0.9375rem;
    right: 0.25rem;
  }

  .closeIcon {
    color: $text-color-1-500 !important;
    z-index: 9999999;
    height: 1.5rem;
    overflow: visible;
    display: block;
    width: 1.5rem;
  }

  &:focus,
  &:active,
  &:hover {
    color: $color-1-500 !important;
    transition: all 0.2s !important;
  }

  .closeIcon {
    color: $color-1-500;
    height: 1.5rem;
    overflow: visible;
    width: 1.5rem;

    :first-child {
      height: 2rem;
      width: 2rem;
    }
  }
}

.container {
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

.dropdownMobile {
}

.filter {
  &__container--title {
  }
}

.filterAccordionBreadcrumbs {
  background-color: $high-medium;
  border-bottom: none;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  padding: 0.9375rem 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-transform: none;
  z-index: 9999998;

  @include tablet {
    background-color: $high-pure;
    border-bottom: 0.0625rem solid $high-medium;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.5rem;
  }

  .filterBreadcrumbsContent {
    padding: 0;
  }
}

.filterAccordionItemBox--/* {facetValue} */ {
}

.filterAccordionItemBox {
  &--al-search__filter {
    @include tablet {
      padding: 0.5rem;
    }
  }

  border: none;
  min-height: 3rem;
  margin: 0;
  padding: 0;

  :global(.vtex-checkbox__line-container) {
    align-items: center;
  }

  :global(.vtex-checkbox__label) {
    @include text($font-size-md, $text-pure-500, $regular);
    line-height: 1.0625rem;
  }

  :global(.vtex-checkbox__container) {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    border-radius: 0;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:active,
    &:focus {
      filter: brightness(0.9);
      transition: all 0.3s ease-in-out;
    }
  }

  :global(.vtex-checkbox__inner-container) {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    border-width: 0.0625rem;
    border-radius: 0.125rem;

    @include tablet {
      border-color: $primary-dark-700;
      border-radius: 0;
    }
  }

  :global(.vtex-checkbox__box-wrapper) {
    width: 1.25rem;
    height: 1.0625rem;
  }

  :global(.vtex-checkbox__input) {
    width: 1.25rem;
    height: 1.25rem;
  }

  :global(.vtex__icon-check) {
    width: 1rem;
    height: 1rem;
    stroke-width: 0.0625rem;
  }

  &--selected {
    :global(.vtex-checkbox__label) {
      color: $text-pure-500;
    }
  }
}

.filterAvailable {
  // setas para expandir e contrair
  &--al-filtered-by {
    display: none;
  }
}

.filterBreadcrumbsContent {
  &--al-search__filter {
    .filterBreadcrumbsText {
    }
  }

  &--al-search__filter:last-child {
    display: block;
  }

  &--al-search__filter:not(:last-child) {
    .filterBreadcrumbsText {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      &:not(::before):not(::after) {
        cursor: default;
        pointer-events: none;
      }

      &::before {
        content: url('assets/svg/nav-caret--left.svg') !important;
        display: block;
        height: 1.125rem;
        margin-right: 0.3125rem;
        overflow: visible;
        width: 0.625rem;
      }

      &::after {
        content: 'Voltar';
        display: block;
        padding: 0;
        width: 100%;
        @include text($font-size-base, $color-1, $regular);
      }
    }
  }
}

.filterAvailable,
.filterTitleSpan,
.filterTitle,
.filterIcon,
.caretIcon,
.caretIcon {
  &::before {
    &:hover,
    &:focus,
    &:active {
      color: $color-1-50 !important;
      transition: all 0.2s !important;
    }
  }
}

.filterBreadcrumbsItem {
  &--al-search__filter--mobile {
    .filterBreadcrumbsItemName--al-search__filter--mobile {
      background-color: $high-pure;
      width: 100%;
    }

    width: 100%;
  }

  // filtro mobile - breadcrumbs dentro da drawer
  padding: 0 !important;
  .caretIcon {
    margin-top: 0.3125rem;
    padding: 0 0.3125rem;
  }

  &:not(:last-child) {
    // esconde elementos que não sejam o item atual
    display: none;
  }

  &:last-child {
    .caretIcon {
      // esconde setas entre os elementos do breadcrumb do filtro mobile
      display: none;
    }

    .filterBreadcrumbsItemName {
      // nome do item atual
      @include text($font-size-lg, $text-color-1, $bold);

      &:focus,
      &:active,
      &:hover {
        color: $color-1-500 !important;
        transition: all 0.2s !important;
      }
    }
  }
}

.filterBreadcrumbsItemName {
  margin: 0 !important;
  padding: 0;
  @include text($font-size-lg, $text-color-1-400, $normal);
}

.filterBreadcrumbsText {
  &--al-search__filter--mobile {
    margin: 0 !important;
    @include text($font-size-md, $text-pure-500, $bold);

    @include tablet {
      font-size: $font-c-2;
    }
  }
}

.filterButtonsBox {
  bottom: 0;
  height: auto;
  padding: 1rem;
  background: $high-pure;
  box-shadow: 0 -0.25rem 0.375rem rgba(0, 0, 0, 0.12);
  border-top: 0.125rem solid $primary-pure-500;
}

.filterApplyButtonWrapper {
  padding-right: 0;

  &--al-search__filter--mobile {
    :global(.vtex-button) {
      @extend %primary-button;
      border-radius: 0.125rem !important;
      text-transform: capitalize !important;
      height: 2.5rem;
    }
  }
}

.filterClearButtonWrapper {
  padding-left: 0;

  &--al-search__filter--mobile {
    :global(.vtex-button) {
      @extend %secondary-button;
      height: 2.5rem;

      @include tablet {
        border-radius: 0.125rem;
      }
    }
  }
}

.filter__container {
  @include tablet {
    border-color: $high-pure;
  }

  &--al-search__filter--clearAllFilters {
  }

  &--al-filtered-by {
    border: none;
  }

  &--al-filtered-by--clearAllFilters {
    &:hover,
    &:focus,
    &:active {
      color: $color-1-500 !important;
      transition: all 0.2s;
    }

    :global(.vtex-button) {
      align-items: center;
      border-radius: 0.25rem;
      display: flex;
      font-size: $font-size-xs !important;
      height: 1.5rem !important;
      justify-content: center;
      margin: 0 !important;
      min-height: unset !important;
      padding: 0 1rem !important;

      &:hover,
      &:focus,
      &:active {
        background-color: $high-pure;
        color: $color-1-500 !important;
        font-weight: $bold;
        transition: all 0.2s;
      }

      :global(.vtex-button__label) {
        height: unset !important;
        height: 1rem !important ;
        line-height: 1;
        margin: 0;
        padding: 0 !important;
      }
    }
  }

  &--al-search__filter {
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid $high-medium;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.filterContainer--/* {facetType} */ {
}

.filterContainer--/* {selectedFilters} */ {
}

.filterContainer--/* {title} */ {
}

.filterContainer--b {
}

.filterContainer--c {
}

.filter__container--priceRange {
  :global(.vtex-slider__values-container) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  :global(.vtex-slider__left-value) {
    @include text($font-size-xs, $text-dark-400, $regular);
    line-height: 0.9rem;
    text-align: left;
    position: relative;
    bottom: 1.125rem;

    @include tablet {
      left: -3.0625rem;
    }
  }

  :global(.vtex-slider__right-value) {
    @include text($font-size-xs, $text-dark-400, $regular);
    line-height: 0.9rem;
    text-align: right;
    position: relative;
    bottom: 1.125rem;
    left: 0.5rem;

    @include tablet {
      left: 3.9375rem;
    }
  }

  :global(.vtex-slider__dash) {
    display: none;
  }

  .filterTemplateOverflow--al-main-filters-desktop {
    display: none;
  }

  &:hover {
    .filterTemplateOverflow--al-main-filters-desktop {
      display: block;
      background-color: $high-pure;
      padding: 1rem;
      border-radius: 0.25rem;

      @include box-shadow(
        0.125rem,
        0.125rem,
        0.25rem,
        0.125rem,
        rgba(0, 0, 0, 0.25)
      );
    }
  }

  @include tablet {
    .filterAvailable {
      display: none;
    }

    :global(.vtex-slider-container) {
      max-width: 50vw;
      margin: 0 auto;
    }
  }
}

.filterContent {
  &--al-main-filters-desktop {
    padding: 1rem;
  }
}

.filterIcon {
  color: $text-pure-500;
  padding: 0.5rem 0.375rem 0.375rem;

  :global(.vtex-search-result-3-x-caretIcon) {
  }
}

.filterIsOpen {
  .filterIcon,
  .caretIcon,
  .caretIcon::before {
    color: $text-pure-500 !important;
    fill: $text-pure-500 !important;
    stroke: $text-pure-500 !important;
    transition: all 0.2s !important;
  }

  .filterIcon {
    &::before {
      transform: rotate(180deg);
    }

    :global(.vtex-checkbox__container) {
      height: 1.5rem;

      &:focus,
      &:active,
      &:hover {
        color: $color-1-500 !important;
        transition: all 0.2s !important;
      }
    }

    :global(.vtex-checkbox__label) {
      @include text($font-size-md, $text-color-1-400, $regular);
      line-height: 0.9375rem;
      margin-left: 0.625rem;

      &:focus,
      &:active,
      &:hover {
        color: $color-1-500 !important;
        transition: all 0.2s !important;
      }
    }

    :global(.vtex-checkbox__inner-container) {
      height: 1.5rem;
      width: 1.5rem;

      &:hover {
        border: 0.0625rem solid $color-1-500;
        transition: all 0.2s;
      }
    }
  }
}

.filterItem {
  &--al-search__filter {
    &:not(:last-child) {
      padding-bottom: 0.5rem;
    }

    :global(.vtex-checkbox__line-container) {
      align-items: center;
    }

    :global(.vtex-checkbox__label) {
      @include text($font-size-md, $text-pure-500, $regular);
      line-height: 1.5rem;
    }

    :global(.vtex-checkbox__container) {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.75rem;
      border-radius: 0.125rem;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:active,
      &:focus {
        filter: brightness(0.9);
        transition: all 0.3s ease-in-out;
      }
    }

    :global(.vtex-checkbox__inner-container) {
      height: 1rem;
      width: 1rem;
      margin-right: 0.75rem;
      border-width: 0.0625rem;
      border-radius: 0;
      border-color: $primary-dark-700;
      margin-top: 0.0625rem;
    }

    :global(.vtex-checkbox__box-wrapper) {
      height: 0.9375rem;
      width: 0.75rem;
      margin-left: 0.125rem;
      margin-top: 0.0625rem;
    }

    :global(.vtex-checkbox__input) {
      width: 1.25rem;
      height: 1.25rem;
    }

    :global(.vtex__icon-check) {
      width: 1rem;
      height: 1rem;
      stroke-width: 0.0625rem;
    }

    &--selected {
      :global(.vtex-checkbox__label) {
        color: $text-pure-500;
      }
    }
  }

  &--al-main-filters-desktop {
    margin-bottom: 0.9375rem;

    &__container {
      align-items: center;
      border: 0;
      display: flex;
      padding-right: 0.6rem;
      // TAMANHO
      position: relative;

      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        border: none;
        margin: 0;
        padding: 0;
      }

      .filter {
        padding: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    :global(.vtex-checkbox__box-wrapper) {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 0.125rem !important;
    }

    :global(.vtex-checkbox__input) {
      height: 1.5rem;
      width: 1.5rem;
    }

    :global(.vtex-checkbox__box) {
      height: 1.5rem;
      width: 1.5rem;

      &:hover {
        border: 0.0625rem solid $color-1-500;
        color: $color-1-500 !important;
        transition: all 0.2s !important;
      }

      :global(.vtex__icon-check) {
        height: auto;
        width: 1rem;
      }
    }

    :global(.vtex-checkbox__line-container) {
      align-items: center !important;
      display: flex;
      height: 1.5rem;

      :global(.vtex-checkbox__inner-container) {
        background-color: $high-pure;
        height: 1.5rem;
        width: 1.5rem;

        &:hover,
        &:focus,
        &:active {
          border: 0.0625rem solid $color-1-500;
          transition: all 0.2s;
        }
      }

      :global(.vtex-checkbox__container) {
        height: 1.5rem;
        width: 1.5rem;
      }

      &:focus,
      &:active,
      &:hover {
        color: $color-1-500 !important;
        transition: all 0.2s !important;
      }
    }

    :global(.vtex-checkbox__label) {
      color: $text-color-1-500;
      font-size: $font-size-xs;

      &:focus,
      &:active,
      &:hover {
        color: $color-1-500 !important;
        transition: all 0.2s !important;
      }
    }
  }

  &--al-main-filters-desktop--selected {
    :global(.vtex-checkbox__inner-container) {
      background-color: $color-3-500 !important;
      border-color: $color-3-500 !important;

      &:hover {
        background-color: $color-3-700 !important;
        border-color: $color-3-700 !important;
        color: $high-pure !important;
        transition: all 0.2s;
      }
    }

    :global(.vtex-checkbox__box) {
      color: $high-pure !important;

      &:hover {
        border: 0.0625rem solid $color-1-500;
        color: $color-1-500 !important;
        transition: all 0.2s !important;
      }
    }
  }

  &--al-filtered-by--selected {
    margin: 0;
    padding-right: 0.5rem;

    :global(.vtex-checkbox__line-container) {
      align-items: center;
      background-color: $high-pure;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      font-size: $font-size-xs;
      width: fit-content;

      :global(.vtex-checkbox__label) {
        padding: 0.5rem;
        width: max-content;
      }

      :global(.vtex-checkbox__inner-container) {
        background-color: transparent;
        border-color: transparent;
        color: $text-color-1-500;
      }

      :global(.vtex-checkbox__container) {
        :global(.vtex-checkbox__box-wrapper) {
          :global(.vtex-checkbox__box) {
            position: relative;
            visibility: hidden;

            &::before {
              color: $text-color-1-500;
              content: url('assets/svg/x.svg');
              display: block;
              height: 1rem;
              position: absolute;
              visibility: visible;
              width: 1rem;
            }

            :global(.vtex__icon-check) {
            }
          }
        }
      }
    }
  }

  &--selected {
    :global(.vtex-checkbox__inner-container) {
      background-color: $color-2 !important;

      &:hover {
        border: 0.0625rem solid $color-1-500;
        transition: all 0.2s;
      }
    }
  }
}

// texto "FILTROS"
.filterMessage {
  &--al-search__filter {
    text-transform: capitalize;
    @include text($font-c-2, $text-pure-500, $bold);
    padding-left: 1.5rem;
    margin-bottom: 0.5625rem;
  }
}

.filterPopup {
}

.filterPopupArrowIcon {
  @include desktop {
    .caretIcon {
      width: 1rem;
      height: 1rem;
      margin-bottom: -0.375rem;
      color: $primary-pure-500;
    }
  }

  &--al-search__filter--mobile {
    display: none;
  }

  &--al-search__filter {
    ::before {
      background: url("data:image/svg+xml,%0A%3Csvg width='19' height='21' viewBox='0 0 19 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3455 12.8926C10.1839 13.0646 10.0942 13.2892 10.0942 13.5223V17.4791L8.90579 18.0574V13.5223C8.90579 13.2892 8.81615 13.0646 8.65446 12.8926L2.14614 5.96782C2.10249 5.90488 2.06674 5.83827 2.0353 5.77009H16.9645C16.9331 5.83827 16.8973 5.90488 16.8535 5.96782L10.3455 12.8926ZM3.26358 2.36602H15.7364C16.4786 2.36602 17.0826 2.95359 17.0826 3.67576V4.65178H1.91744V3.67576C1.91744 2.95359 2.52143 2.36602 3.26358 2.36602ZM15.7364 0.5H3.26358C1.46399 0.5 0 1.92478 0 3.67576V5.24057C0 5.91415 0.215219 6.558 0.622314 7.10256C0.643334 7.13071 0.665975 7.15763 0.690228 7.18333L6.98835 13.8845V19.567C6.98835 19.8902 7.16028 20.1906 7.44305 20.3607C7.59702 20.4531 7.77182 20.5 7.94716 20.5C8.09358 20.5 8.24053 20.4671 8.37581 20.4014L11.4818 18.8903C11.8065 18.7321 12.0116 18.4092 12.0116 18.0557V13.8845L18.3094 7.18351C18.3337 7.15781 18.3563 7.13089 18.3771 7.10274C18.7846 6.558 19 5.9138 19 5.24022V3.67576C19 1.92478 17.536 0.5 15.7364 0.5Z' fill='%237A206C'/%3E%3C/svg%3E%0A")
        no-repeat center;
      content: '';
      display: inline-block;
      height: 1.3125rem;
      margin-right: 0.3125rem;
      width: 1.1875rem;
    }
  }
}

.filterPopupButton {
  border: 0;
  border-radius: 0;
  flex-direction: row-reverse;
  height: 2.5rem;
  padding: 0;
  width: 100%;

  @include tablet {
    border: none;
    padding: 0;
    width: 100%;
  }

  .filterIcon {
    background: none;
  }
}

.filterPopupContent {
}

.filterPopupContentContainer {
}

.filterPopupContentContainerOpen {
}

.filterPopupFooter {
}

.filterPopupOpen {
}

.filterPopupTitle {
  @include desktop {
    @include text($font-size-md, $text-pure-500, $regular);
    position: relative;
    right: 2.0625rem;
    text-transform: capitalize;
  }

  &:first-child {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      content: '' !important;
      font-size: 0;
      visibility: hidden;
      display: flex;
    }
  }

  &--al-search__filter--mobile {
    @include tablet {
      text-transform: initial;
      color: $high-pure;
      font-weight: $bold;
      font-size: $font-size-sm !important;
      visibility: visible !important;
    }
  }

  .orderByText {
    display: block !important;
    justify-content: flex-start;
    min-width: 2rem;
    text-align: left;
    visibility: visible;
    width: fit-content !important;

    @include desktop {
      text-transform: lowercase;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    @include tablet {
      max-width: 100%;
      min-width: unset;
      text-transform: none;
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      width: 100% !important;
    }
  }
}

.filterSelected {
}

.filterSelectedFilters {
  &--al-search__filter {
    display: none;
  }
}

.filters--layout {
  margin: 0;

  @include tablet {
    border: none;
  }
}

.filtersWrapper {
  .filter {
    &__container--al-filtered-by:not(.filter__container--selectedFilters):not(
        .filter__container--al-filtered-by--clearAllFilters
      ),
    &__container--al-filtered-by--title {
      // desktop - linha "filtrado por"
      display: none;
    }

    &__container--al-filtered-by.filter__container--selectedFilters {
      .filterTemplateOverflow--al-filtered-by {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .filterItem--al-filtered-by--selected {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          width: unset;

          &:first-child {
            &::before {
              content: 'FILTRADO POR:';
              display: block;
              height: 2rem !important;
              padding-right: 0.5rem;
              padding-top: 0.5rem;
              width: fit-content;
            }
          }
        }
      }

      .filterTemplateOverflow--al-filtered-by,
      .filter--al-filtered-by.filterSelected--al-filtered-by {
        padding: 0 1rem 0 0;
      }
    }

    &__container--al-main-filters-desktop {
      &:last-child {
        .filterTemplateOverflow {
          max-height: 12.5rem;
          right: 0;
          width: fit-content;
          z-index: 200;
        }
      }
    }
  }
}

.filter__container--title,
.filter__container--selectedFilters {
}

.filtersWrapperMobile {
  border: none;

  .filterPopupButton {
    @extend %primary-button;
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
    border-radius: 0.25rem;

    .filterPopupTitle {
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        @include icon('filter', 1.125rem);
        margin-right: 0.5rem;
      }
    }
  }
}

.filterTemplateOverflow {
  &--al-main-filters-desktop {
    background-color: $high-pure;
    border-radius: 0.25rem;
    max-height: 12.5rem;
    padding-bottom: 0;
    position: absolute;
    z-index: 200;

    :global(.vtex-slider__selector),
    :global(.vtex-slider__base-internal) {
      background-color: $color-2-500 !important;
    }

    :global(.vtex-slider__left-value),
    :global(.vtex-slider__right-value) {
      color: $color-2-500 !important;
    }
  }

  &--al-search__filter {
    @extend %scrollbar;
    max-height: 16.875rem;
    padding: 0 0 0 1.5rem;
    margin-right: 1.5rem;

    :global(.vtex-slider-container) {
      :global(.vtex-slider) {
        @include desktop {
          margin: 0 auto;
          width: 6.75rem;
          position: relative;
          right: 0.0625rem;
        }
      }
    }

    .filterContent {
      padding-top: 1rem;
    }
  }
}

.filterTitle {
  &--al-main-filters-desktop {
    @include text($font-size-base, $text-color-1-500, $regular);
    line-height: normal;
    text-transform: uppercase;

    @include tablet {
      font-size: $font-size-md;
      font-weight: $regular;
    }

    &:focus,
    &:active,
    &:hover {
      .filterTitleSpan,
      .filterIcon {
        color: $color-1-50 !important;
        transition: all 0.2s !important;
      }
    }
  }
}

.filterTitleSpan {
  &--al-search__filter--mobile {
    @include text($font-size-base, $text-color-1-500, $regular);
  }

  color: $text-color-1;

  &--al-filtered-by {
    display: none;
  }

  &--al-main-filters-desktop {
    font-size: $font-size-base !important;
    letter-spacing: 0;
    width: max-content;
  }

  &--al-search__filter {
    @include text($font-size-md, $text-pure-500, $bold);
    line-height: 1.1719rem;
    text-transform: initial;
  }
}

.filterTotalProducts {
}

.footerButton {
}

.gallery {
  padding: 0.625rem 0 1.5rem;

  &--grid {
    @include tablet {
      padding-top: 0 !important;
    }
  }

  @include tablet {
    padding: 1.625rem 0.6875rem 1.8rem;
  }
}

.galleryItem {
  :global(.vtex-product-summary-2-x-container) {
    margin: unset;
  }

  @include tablet {
    padding: 0.5rem 0.25rem;
  }
}

.galleryItem--custom {
}

.galleryItem--list-mobile {
  :global(.vtex-product-summary-2-x-container) {
    margin: 0 auto;
  }
}

.galleryLayoutSwitcher {
  display: flex;

  @include tablet {
    align-items: center;
  }
}

.galleryLayoutOptionButton {
  color: $high-dark;
  background: $high-light;
  border-radius: 0.125rem;
  padding: 0.4375rem;
  transition: all 0.3s ease-in-out;

  &--selected {
    background: $primary-pure-500;
    color: $high-pure;
    transition: all 0.3s ease-in-out;
  }

  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.galleryTitle--layout {
  @include text($font-c-2, $text-pure-500, $bold);
  line-height: 1.7581rem;
  position: relative;
  text-transform: none;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 1.5rem;

  @include tablet {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: $font-size-xlg;
  }
}

.layoutSwitcher {
  color: $text-color-2-500;
}

.loadingOverlay {
}

.loadingSpinnerInnerContainer {
}

.loadingSpinnerOuterContainer {
}

.orderBy {
  transition: all 0.2s;

  &--layout {
    @include tablet {
      padding-right: 0.5rem;
      width: 100%;
    }
  }
}

.orderByDropdown {
  margin: 0;
  padding: 0;
  transition: all 0.2s;

  @include desktop {
    height: 2.5rem;
  }

  @include tablet {
    width: 100%;
    padding-left: 0;
  }

  .orderByButton {
    align-items: center;
    border: 0.125rem solid $high-medium;
    border-radius: 0.25rem !important;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.6875rem 1rem;
    transition: all 0.2s;
    text-transform: none;

    @include tablet {
      height: 2.5rem;
      justify-content: center;
      width: 100%;

      .filterPopupTitle {
        width: 100% !important;
      }
    }

    @include desktop {
    }

    @include tablet {
    }

    .filterPopupArrowIcon {
      justify-content: flex-end;
      padding-right: 0;
    }

    .filterPopupArrowIcon {
      .caretIcon {
        @include tablet {
          width: 1rem;
          height: 1rem;
          color: $primary-pure-500;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

.orderByOptionItem {
  @include text($font-size-md, $text-pure-500, $regular);
  font-family: $main-font;
  margin-top: unset;
  min-width: auto;
  position: relative;
  text-transform: none;
  border: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;

  &:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  &:hover {
    background: $high-light !important;
    color: $text-pure-500 !important;
    transition: all 0.2s ease-in-out !important;
  }
}

.orderByOptionItem--selected {
  @include text($font-size-md, $text-pure-500, $regular);
  background: $high-light;
  font-family: $main-font;
}

.orderByOptionsContainer {
  border: 0.125rem solid $high-medium;
  border-radius: 0.25rem;
  border-top-color: $high-pure;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.12);
  transition: all 0.2s;
  padding-top: 0.375rem;
  min-width: auto;
  z-index: 4;

  @include desktop {
    top: 2.5rem;
  }

  @include tablet {
    z-index: 99999;
    min-width: 100%;
    top: 2.1rem !important;
  }

  @include tablet {
    top: 2.4375rem;
    width: 100%;
  }
}

.orderByText {
  color: $text-dark-400;
  display: block;
  font-size: 0;
  font-weight: $regular;
  line-height: normal;
  position: relative;

  @include tablet {
    @include text($font-size-md, $text-pure-500, $regular);
    position: relative;

    &::before {
      content: ':';
      @include text($font-size-md, $text-pure-500, $regular);
      position: absolute;
      right: 0.3125rem;
      left: unset;
      top: 0;
    }
  }

  &::after {
    @include desktop {
      content: 'Ordenar por: ';
      @include text($font-size-md, $text-pure-500, $bold);
      position: absolute;
      top: -0.6875rem;
      left: unset;
      right: 1.25rem;
      width: 6.25rem;
      text-transform: initial;
    }
  }
}

.productCount {
}

.progressBar {
}

.progressBarContainer {
}

.progressBarFiller {
}

.resultGallery {
}

.searchNotFound {
}

.searchNotFoundInfo {
}

.searchNotFoundOops {
}

.searchNotFoundTerm {
}

.searchNotFoundTextListLine {
}

.searchNotFoundWhatDoIDo {
}

.searchNotFoundWhatToDoDots {
}

.searchNotFoundWhatToDoDotsContainer {
}

.searchResultContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.seeMoreButton {
}

.selectedFilterItem {
}

.showingProducts {
}

.showingProductsContainer {
}

.showingProductsCount {
}

.sidebar {
  max-width: 21.5625rem;
  width: 100%;

  @include tablet {
    max-width: 100%;
    z-index: 9999999999;
  }
}

// suggestion list
.suggestion {
  &ListWrapper {
    margin-bottom: 2.5rem;
  }
}

.suggestions {
  &List {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;

    &Prefix {
      font-weight: $bold;
    }

    &Link {
      border: 0.0625rem solid $color-3-500;
      color: $color-3-500;
      margin: 0.1563rem;
      padding: 0.125rem 0.3125rem;

      &:hover,
      &:focus,
      &:active {
        border: 0.0625rem solid $color-1-500;
        color: $color-1-500;
        text-decoration: none !important;
      }
    }
  }
}

.switch {
}

.totalProducts {
  &--layout {
    @include text($font-size-md, $text-pure-500, $bold);
    align-items: center;
    display: flex;
    justify-content: space-around;
    line-height: normal;
    padding: 0 3rem 0 1rem;
    text-align: left;
    text-transform: lowercase;
    border: none;

    @include tablet {
      padding: 0 1rem;
      font-size: $font-size-sm;
      border: none;
    }
  }
}

.totalProductsMessage {
  &--al-search__total-products {
    @include text($font-size-md, $text-pure-500, $regular);
    text-transform: capitalize;

    @include tablet {
      font-size: $font-size-sm;
    }
  }
}

.accordionFilterItemTag {
  &--al-search__filter--mobile {
    @include tablet {
    }
  }
}

.searchNotFoundOops {
  &--al-search__empty {
    display: none;
  }
}

.searchNotFound {
  &--al-search__empty {
    height: auto;
  }
}

.searchNotFoundInfo {
  &--al-search__empty {
    @include text($font-size-h3, $text-pure-500, $bold);
    line-height: 2.375rem;
    text-transform: none;
    padding-bottom: 4.5rem;

    @include tablet {
      font-size: $font-size-lg;
      font-weight: $bold;
      line-height: 1.375rem;
      text-align: center;
      padding-left: 2rem;
      padding-right: 1.5rem;
      padding-bottom: 2rem;
    }
  }
}

.searchNotFoundWhatDoIDo {
  &--al-search__empty {
    @include text($font-size-lg, $text-color-1, $regular);
    text-transform: initial;
    line-height: 1.6875rem;
    margin-top: 2rem;

    @include tablet {
      font-weight: $regular;
      font-size: $font-size-md;
      line-height: 1.5625rem;
      margin-left: -6%;
      text-align: start;
      margin-top: 1.5rem;
    }
  }
}

.searchNotFoundWhatToDoDotsContainer {
  &--al-search__empty {
    @include text($font-size-lg, $text-dark-400, $regular);
    text-transform: initial;
    line-height: 1.6875rem;

    @include tablet {
      font-weight: $regular;
      font-size: $font-size-md;
      line-height: 1.5625rem;
      padding-left: 0;
      text-align: start;
    }
  }
}
