:global(.vtex-account__page-body) {
  padding: 0;

  @include tablet {
    padding: 0 15px;
  }
}

.boxContainer {
  border: 1px solid $high-medium;
  border-radius: 8px;
  padding: 32px;
  position: relative;
  @include tablet {
    padding: 24px;
  }

  &Body {
    padding: 0;
  }

  &Footer {
    padding: 0;

    :global(.vtex-button) {
      @include link($font-size-md, $color-1, $regular, underline);
      text-transform: capitalize;

      :global(.vtex-button__label) {
        padding: 0;
      }
    }
  }
}
