.flex {
  &Row {
    &--al-institucional {
      &__information {
        :global(.vtex-store-components-3-x-container) {
          padding: 0 2.4rem;
        }
      }
    }
  }
}

.flexRowContent {
  &--all-institucional {
    @extend %container-large;

    flex-direction: column;
    padding: 0 0 4rem;

    @include tablet {
      padding: 0 0.5rem 3rem;
    }

    .stretchChildrenWidth {
      width: 100% !important;
    }
  }

  &--al-institucional__information {
    flex-direction: column;

    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
      width: 100% !important;
      flex-direction: column;
      // border: 1px solid #c9c9c9;
      // border-bottom: 0;
      // position: relative;

      &:first-child {
        :global(.vtex-disclosure-layout-1-x-trigger) {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }

      &:last-child {
        margin-bottom: 200px;

        :global(.vtex-disclosure-layout-1-x-trigger) {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          border-bottom: 1px solid #c9c9c9;
        }

        :global(.vtex-disclosure-layout-1-x-trigger--visible) {
          border-bottom: 1px solid transparent;
          border-radius: 0;
        }

        :global(.vtex-disclosure-layout-1-x-content--visible) {
          border-bottom: 1px solid #d3f8f4;
        }
      }
    }
  }
}
