.trigger {
  background-color: #fff;
  border: 1px solid #c9c9c9;
  border-bottom: 0;
  height: 88px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::after {
    content: url('assets/svg/icon-close-institucional.svg');
  }

  &--visible {
    border: 1px solid #d3f8f4;
    background-color: #d3f8f4;

    &::after {
      content: url('assets/svg/icon-open-institucional.svg');
    }
  }
}

.content {
  &--visible {
    border-left: 1px solid #d3f8f4;
    border-right: 1px solid #d3f8f4;
    background-color: #d3f8f4;
    padding: 0 1rem;
    color: #000;
  }
}

.trigger,
.content {
  position: relative;

  &--visible {
    &::before {
      content: '';
      display: block;
      background-color: #40d6c6;
      width: 4px;
      height: 100.3%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
