.heading {
  &--al-institucional__title {
    margin: 80px 0 24px;
    @include text($font-size-h3, $color-1, $regular);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.4em;

    @include tablet {
      margin: 23px 43px 16px 43px;
      font-size: $font-size-xlg - 6;
    }
  }
}

.headingLevel2 {
  &--all-institucional__content {
    @include text($font-size-md, $text-color-1, $semi-bold);
    margin: 12px 0;
  }
}

.paragraph {
  &--all-institucional__content {
    @include text($font-size-md, $text-color-2, $regular);
    margin: 0 0 8px;
  }

  &--institucional-text {
    color: #000;
  }
}

.link {
  &--all-institucional__content {
    @include link($font-size-md, $text-color-2, $regular, none);
  }
}
