.b2bChallengeButton {
  z-index: auto;

  &--shelf__login {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 20px 0 0 0;
    @include text($font-size-sm, #ed1b34, $regular);
    line-height: 19.6px;
    transition: all 0.3s ease-in-out;
    text-align: left;
  }
}
