.listPrice {
  @include text($font-size-xs, $low-dark, $normal);
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include tablet {
    font-size: $font-size-xs;
    display: block;
    line-height: 0.875rem;
  }
}

.sellingPrice {
  @include text($font-size-sm, $low-pure, $normal);
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include tablet {
    font-size: $font-size-xxs;
    line-height: 17px;
    display: block;
  }
}

.installments {
  @include text($font-size-sm, $low-pure, $normal);
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: none;
  text-align: left;

  &--summary {
    display: block;
  }

  @include tablet {
    font-size: $font-size-xxs;
    line-height: 17px;
  }
}

.installmentsNumber {
  @include text($font-size-sm, $primary-pure-500, $bold);

  @include tablet {
    font-size: $font-size-xxs;
  }
}

.installments-times {
  @include text($font-size-sm, $primary-pure-500, $bold);
  text-transform: none;

  @include tablet {
    font-size: $font-size-xxs;
  }
}

.installmentValue {
  @include text($font-size-sm, $low-pure, $normal);

  @include tablet {
    font-size: $font-size-xxs;
  }
}

.savings {
  @include text($font-size-sm, $white, $regular, $secondary-font);
  background: $color-c-6;
  line-height: 16px;
  border-radius: 0;
  padding: 6px 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &--summary-percentage-shelf {
    margin-bottom: 0.125rem;

    .savingsPercentage {
      display: block;
    }
  }

  @include tablet {
    font-size: $font-size-xxs;
    padding: 0.1875rem 0.2813rem;

    .savingsPercentage {
      padding-bottom: 0.125rem;
    }
  }

  &--all-summary-percentage__pdp {
    display: flex;
    border-radius: 0.125rem;
  }
}

.savingsPercentage {
}
