.listPrice {
  @include text($font-size-xs, $low-dark, $normal);
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include tablet {
    font-size: $font-size-xs;
    display: block;
    line-height: 0.875rem;
  }
}

.sellingPrice {
  @include text($font-size-sm, $low-pure, $normal);
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include tablet {
    font-size: $font-size-md;
    display: block;
    line-height: 1.5rem;
  }
}

.installments {
  @include text($font-size-sm, $low-pure, $normal);
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: none;
  text-align: left;

  &--summary {
    display: block;
  }

  @include tablet {
    font-size: $font-size-xs;
  }
}

.installmentsNumber {
  @include text($font-size-sm, $primary-pure-500, $bold);

  @include tablet {
    font-size: $font-size-xs;
  }
}

.installments-times {
  @include text($font-size-sm, $primary-pure-500, $bold);
  text-transform: none;

  @include tablet {
    font-size: $font-size-xs;
  }
}

.installmentValue {
  @include text($font-size-sm, $low-pure, $normal);

  @include tablet {
    font-size: $font-size-xs;
  }
}

.savings {
  @include text($font-size-sm, $white, $bold);
  display: block;
  background: $high-light;
  border-radius: 0.125rem;
  padding: 0.3125rem 0.375rem;
  text-align: center;

  &--summary-percentage-shelf {
    margin-bottom: 0.125rem;

    .savingsPercentage {
      display: block;
    }
  }

  @include tablet {
    font-size: $font-size-xxs;
    padding: 0.1875rem 0.2813rem;

    .savingsPercentage {
      padding-bottom: 0.125rem;
    }
  }

  &--all-summary-percentage__pdp {
    display: flex;
    border-radius: 0.125rem;
  }
}

.savingsPercentage {
}
