.container {
  background: $white;
  border-radius: 0;
  padding: 0;
  margin: 3.5px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  border: none;
  margin-bottom: 0;

  @include tablet {
    &--similars {
      height: 242px;
      width: 100%;
      max-width: 100% !important;
    }
  }

  @include desktop {
    max-width: 100% !important;
    margin: 7.5px 28px;
    height: auto;

    &--similars {
      max-width: 16.82531rem !important;
      height: 178px;
      margin: 0;
    }

    &:hover,
    &:active,
    &:focus {
      transition: all 0.3s ease-in-out;
      background: none;

      .mainImageHovered {
        opacity: 0;
        visibility: hidden;
      }

      .hoverImage {
        opacity: 1;
        visibility: visible;
      }

      // :global(
      //     .vtex-flex-layout-0-x-flexRowContent--product__qtty-add--desktop
      //   ) {
      //   opacity: 1;
      //   visibility: visible;
      // }

      :global(.vtex-flex-layout-0-x-flexRow--summary__link) {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &Normal {
    &--product__summary-shelf--buy-together {
      margin: 0 1.375rem 20% 1.125rem;
      overflow: visible;

      @include tablet {
        margin: 0 0.375rem;
        margin-bottom: 2.813rem;
        height: auto;
      }
    }
  }

  .nameContainer {
    padding: 13px 0 0;
    margin: 0;
    justify-content: flex-start;

    @include tablet {
      padding: 10px 2px 0;
    }
  }

  .brandName {
    @include text($font-size-md, $black, $bold, $secondary-font);
    line-height: 19.2px;
    text-align: left;
    overflow: hidden;
    width: 100%;
    display: block;
    margin: 0;
    letter-spacing: 0;
    text-transform: uppercase;

    @include tablet {
      font-size: $font-size-xs + 1;
      line-height: 13px;
    }
  }

  :global(
      .vtex-flex-layout-0-x-flexRowContent--product__summary-name-similars
    ) {
    .brandName {
      font-size: 1rem;
    }
  }

  .clearLink {
    position: relative;
    height: 100%;
    max-height: 100%;
  }

  .element {
    padding: 0 0 0;

    &--similars {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(243, 243, 243, 0.5);
  }

  .imageStackContainer {
    padding: 6px 6px 0;

    @include tablet {
      padding: 0;
    }
  }

  .image {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    object-fit: cover !important;
    mix-blend-mode: multiply;

    @include tablet {
      margin: 0 auto;
      aspect-ratio: 1/1;
      height: auto !important;
    }
  }

  .mainImageHovered {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  .hoverImage {
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }

  :global(.vtex-button) {
    @extend %primary-button;
    border-radius: 3px;
    background: $secondary-pure-500;
    width: 100%;
    padding: 0 1.5rem;
    height: 57px;

    &:hover,
    &:active,
    &:focus {
      background: $secondary-pure-500;
      filter: brightness(0.9);
    }

    @include tablet {
      min-height: auto;
      height: 39px;
      padding: 0;
    }

    :global(.vtex-button__label) {
      padding: 0 !important;
    }

    :global(.vtex-spinner_circle) {
      color: $black;
    }
  }
}

.name {
  &Container {
    padding-bottom: 0;

    @include tablet {
      margin-bottom: 0.375rem;
    }
  }
}

// Order Size

.skuSelectorItem--all-shelf {
  &--18 {
    order: 1;
  }

  &--19 {
    order: 2;
  }

  &--20 {
    order: 3;
  }

  &--21 {
    order: 4;
  }

  &--22 {
    order: 5;
  }

  &--23 {
    order: 6;
  }

  &--24 {
    order: 7;
  }

  &--25 {
    order: 8;
  }

  &--26 {
    order: 9;
  }

  &--27 {
    order: 10;
  }

  &--28 {
    order: 11;
  }

  &--29 {
    order: 12;
  }

  &--30 {
    order: 13;
  }

  &--31 {
    order: 14;
  }

  &--32 {
    order: 15;
  }

  &--33 {
    order: 16;
  }

  &--34 {
    order: 17;
  }

  &--35 {
    order: 18;
  }

  &--36 {
    order: 19;
  }

  &--37 {
    order: 20;
  }

  &--38 {
    order: 21;
  }

  &--39 {
    order: 22;
  }

  &--40 {
    order: 23;
  }

  &--41 {
    order: 24;
  }

  &--42 {
    order: 25;
  }

  &--43 {
    order: 26;
  }

  &--44 {
    order: 27;
  }

  &--45 {
    order: 28;
  }

  &--46 {
    order: 29;
  }

  &--47 {
    order: 30;
  }

  &--48 {
    order: 31;
  }

  &--49 {
    order: 32;
  }

  &--50 {
    order: 33;
  }

  &--pp {
    order: 1;
  }

  &--p {
    order: 2;
  }

  &--m {
    order: 3;
  }

  &--g {
    order: 4;
  }

  &--gg {
    order: 5;
  }
}

.container--product__summary--shelf-simple {
  margin: 0;

  :global(.vtex-flex-layout-0-x-flexCol--shelf-summary-price-wrapper),
  .nameContainer,
  .imageStackContainer {
    padding-left: 0;
    padding-right: 0;
  }
}

.container--product__summary--category {
  @include desktop {
    height: 100%;

    :global(.vtex-flex-layout-0-x-flexRowContent--product__qtty-add) {
      padding-top: 30px;
    }
  }
}

.skuSelectorContainer {
  &--product__sku-selector--shelf {
    padding-top: 29px;

    @include tablet {
      padding-top: 12px;
    }

    :global(.vtex-store-components-3-x-skuSelectorSubcontainer--cor) {
      padding: 0;

      :global(.vtex-store-components-3-x-skuSelectorTextContainer) {
        &:empty {
          display: none;
        }
      }

      :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
        align-items: center;
        justify-content: center;
      }

      .skuSelectorItemImage {
        height: 30px;
        width: 30px;

        @include tablet {
          height: 23px;
          width: 23px;
        }
      }
    }
  }
}
