.inlineContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container {
}

.formContainer {
}

.formSection {
}

.formBottomLine {
}

.formRating {
}

.formName {
}

.formLocation {
}

.formEmail {
}

.formReview {
}

.formSubmit {
}

.formInvalidMessage {
}

.graphBar {
}

.graphBarContainer {
}

.graphBarPercent {
}

.graphContent {
}

.graphContainer {
}

.graphText {
}

.graphTextLabel {
}

.loginLink {
}

.reviewComment {
}

.reviewCommentMessage {
}

.reviewCommentRating {
}

.reviewCommentsContainer {
}

.reviewCommentUser {
}

.reviewsHeading {
}

.reviewsRating {
}

.reviewsRatingAverage {
}

.reviewsRatingCount {
}

.reviewsOrderBy {
}

.reviewsPaging {
}

.reviewInfo {
}

.reviewVerifiedPurchase {
}

.reviewDate {
}

.reviewDateSubmitted {
}

.reviewDateValue {
}

.reviewAuthor {
}

.reviewAuthorBy {
}

.reviewAuthorName {
}

.star--empty {
}

.star--filled {
}

.star {
}

.starpicker {
}

.stars {
}

.starsContainer {
}

.summaryContainer {
}

.summaryButtonContainer {
}

.writeReviewContainer {
}

.graphContent {
}

.graphContainer {
}

.graphText {
}

.graphTextLabel {
}

.graphBarContainer {
}

.graphBar {
}

.graphBarPercent {
}

.summaryButtonContainer {
}

.summaryTotalReviews {
}

.writeReviewContainer {
}

.writeReviewButton {
}
