.flexRowContent {
  &--confirmationButtons {
    margin: 0;

    :global(.vtex-button) {
      height: 48px;
      border: none;
      background: $primary-pure-500;
      border-radius: 6px;
      @include text($font-size-md, $high-pure, $bold);
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    :global(.vtex-button__label) {
      font-size: 0;

      &::after {
        content: 'Imprimir Boleto';
        font-size: $font-size-md;
      }
    }
  }

  &--order-header {
    margin-bottom: 27px;
  }
}

.flexColChild {
  &--order-placed {
    :global(.vtex-button) {
      height: 48px;
      border: none;
      background: $primary-pure-500;
      border-radius: 6px;
      @include text($font-size-md, $high-pure, $bold);
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.flexCol {
  &--op-col {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
