.flexRowContent {
  &--confirmationButtons {
    margin: 0;
  }

  &--order-header {
    margin-bottom: 27px;
  }
}

.flexColChild {
  &--order-placed {
    :global(.vtex-button) {
      height: 48px;
      border: none;
      background: $primary-pure-500;
      border-radius: 30px;
      @include text($font-size-md, $high-pure, $bold);
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &--confirmationButtons {
    :global(.vtex-button) {
      @extend %secondary-button;
    }
  }
}

.flexCol {
  &--op-col {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
