.searchBarIcon {
  &--header__search {
    padding: 0 15px;
    color: $text-color-1-500;

    @include tablet {
      padding: 0 1rem 0 0;
    }
  }
}

.searchIcon {
  &--header__search {
    width: 16px;
    height: 16px;
  }
}

.searchBarContainer {
  padding: 0;
}

.searchBarInnerContainer {
  &--header__search {
    max-width: 17.6875rem;

    @include tablet {
      max-width: 100%;
    }

    :global(.vtex-input-prefix__group) {
      border: none;
      border-radius: 4px;
      padding: 0;
      width: 17.6875rem;
      height: 32px;

      @include tablet {
        border: 1px solid #828282;
        padding-left: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33px;
        border-radius: 4px;
        padding: 0;
        width: 100%;
      }
    }

    :global(.vtex-styleguide-9-x-input) {
      border: none;
      @include text($font-size-xs, $black, $regular);
      border-radius: 0;
      background-color: #f9f9f9;
      padding: 0 20px;

      &::placeholder {
        color: $black;
        opacity: 0.6;
      }

      @media (min-width: 992px) {
        background-color: $white;
      }

      @include tablet {
        font-size: $font-size-md;
        background-color: $white;
      }
    }

    :global(.vtex-input__suffix) {
      color: $text-color-1-500;
      background-color: $white;
      transition: all 0.5s ease-in-out;
      padding: 0;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        transition: all 0.5s ease-in-out;
      }

      @include tablet {
        background-color: #f9f9f9;
      }
    }
  }
}
