.flexRow {
  &--home__banner-duo-main {
  }
}

.flexRowContent {
  &--home__banner-duo-main {
    gap: 1rem;
    margin: 4rem auto !important;
  }

  &--all-title-video-seo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;

    @include tablet {
      flex-direction: column;
    }

    .stretchChildrenWidth {
      &:first-child {
        transform: rotate(-90deg);
        width: 10% !important;

        @include tablet {
          transform: unset !important;
          width: auto !important;
        }
      }
    }
  }
}

.flexCol {
  &--home__banner-duo-main {
  }
}

.flexColChild {
  &--home__banner-duo-main {
  }
}
