.flexRow {
  &--header__menu {
    background: $white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }

  &--header-mob {
    background: #e9fbf9;
    padding: {
      left: 2.3rem;
      right: 2.3rem;
      top: 1.5rem;
      bottom: 1.5rem;
    }
  }

  &--main-menu-department-block {
    justify-content: space-between;
    width: 100%;
  }

  &--block-main-links {
    margin-left: 2.25rem;
  }
}

.flexCol {
  &--header-mob__social-block {
    flex-direction: row;
  }
}

.flexRowContent {
  &--header__menu {
    @extend %container-large;

    @media (min-width: $l) and (max-width: $screen-xlg-max) {
      padding: 0 15px;
    }
  }

  &--block-main-links {
    :global(.vtex-login-2-x-container) {
      :global(.vtex-button__label) {
        &::before {
          background: none !important;
          content: url('assets/svg/icon-stand-jojo.svg') !important;
          display: unset !important;
          height: unset !important;
          width: unset !important;
          margin-top: 0.2rem;
        }

        :global(.vtex-login-2-x-label) {
          font-size: 0;
          line-height: unset;

          &::after {
            content: url('assets/svg/ENTRAR-OU-CADASTRE-SE.svg');
          }
        }
      }
    }
  }
}

.flexColChild {
  &--header-mob__social-block {
    margin-right: 1.4rem;
  }
}
