.sliderLayoutContainer {
  &--modal__info--bullets {
    padding: 70px 80px 0 0;

    @include tablet {
      padding: 20px 0 0 0;
    }
  }
}

.sliderTrack {
  &--modal__info--bullets {
    counter-reset: bullet;
  }
}

.slide {
  &--modal__info--bullets {
    counter-increment: bullet;
  }
}

.slideChildrenContainer {
  &--modal__info--bullets {
    align-items: stretch;
    padding: 0;

    :global(
        .vtex-info-card-list-0-x-modal__info--bullet--modal__info--bullets
      ) {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }
}

.sliderArrows {
  &--modal__info--bullets {
    .caretIcon {
      width: 24px;
      height: 24px;
      overflow: visible;

      @include tablet {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.sliderLeftArrow {
  &--modal__info--bullets {
    @include tablet-min {
      left: -15px;
    }
  }
}

.sliderRightArrow {
  &--modal__info--bullets {
    @include tablet-min {
      right: -15px;
    }
  }
}

.infoCardContainer {
  &--modal__info--bullets {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    height: 100%;
    width: 100%;
  }
}

.infoCardImageContainer {
  &--modal__info--bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f5f8;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    padding: 0;
    position: relative;

    &:first-child {
      display: block;
    }

    &::before {
      content: counter(bullet);
      @include text($font-size-h4 - 2, $white, $extra-bold, $quaternary-font);
      line-height: 40px;
      letter-spacing: 0.188px;
      background: $black;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      position: absolute;
      bottom: -10px;
      left: -5px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

.infoCardImage {
  &--modal__info--bullets {
    display: block;
    max-width: 55px;
    max-height: 55px;
  }
}

.infoCardTextContainer {
  &--modal__info--bullets {
    width: 100%;
    padding: 27px 0 0 0;
    margin: 0;
  }
}

.infoCardCallActionContainer {
  &--modal__info--bullets {
    margin: 0;
    padding: 0;
    text-decoration: none;
    max-width: 196px;
    text-align: center;
  }
}

.infoCardCallActionText {
  &--modal__info--bullets {
    @include text($font-size-lg, $black, $normal);
    margin: 0;
    padding: 0;
    display: block;
    line-height: 21.6px;
    letter-spacing: 0.1px;
    text-decoration: none;
    text-align: center;
  }
}

.infoCardHeadline {
  &--modal__info--bullets {
    @include text($font-size-lg, $black, $normal);
    margin: 0;
    padding: 0;
    display: block;
    line-height: 21.6px;
    letter-spacing: 0.1px;
    text-decoration: none;
    text-align: center;
  }
}

.paragraph {
  &--modal__info--bullets {
    @include text($font-size-lg, $black, $normal);
    margin: 0;
    padding: 0;
    display: block;
    line-height: 21.6px;
    letter-spacing: 0.1px;
    text-decoration: none;
    text-align: center;
  }
}
