.container {
  &--header__sticky {
    border-bottom: 1px solid #e8e8e8;
  }

  &--header__sticky--mobile {
    border-bottom: 1px solid #c9c9c9;
  }
}

.wrapper {
  &--header__sticky--mobile--stuck,
  &--header__sticky--stuck {
    .container {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    }
  }
}
