.flexRow {
  &--header__tooltip {
    background-color: $color-1-500;
    color: $text-white-100;
    padding: 10px 0 12px;
  }

  &--header__main {
    background-color: $white;
    color: $black;
    padding: 1rem 0;

    @include tablet {
      padding: 1.75rem;
    }
  }

  &--block-search-bar {
    background-color: #f9f9f9;
  }
}

.flexRowContent {
  &--header__main {
    align-items: center;
    justify-content: space-between;
    @extend %container-large;

    @media (min-width: $l) and (max-width: $screen-xlg-max) {
      padding: 0 15px;
    }

    .stretchChildrenWidth {
      align-items: center;
      justify-content: initial;
    }
  }

  // &--header__main--mob {
  //   display: flex;
  // }

  &--header__login--mobile {
    align-items: center;
  }

  &--header__tooltip {
    align-items: center;
    display: flex;
    @extend %container-large;

    @media (min-width: $l) and (max-width: $screen-xlg-max) {
      padding: 0 15px;
    }

    @include desktop {
      justify-content: space-between;
    }

    .stretchChildrenWidth {
      &:first-child {
        width: 100% !important;

        @include desktop {
          padding-right: 6.5rem;
        }
      }
    }
  }

  // &--main-elements-desk {
  //   :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  //     &:first-child {
  //       width: 55% !important;
  //     }
  //   }
  // }

  &--block-main-links {
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
      flex: 1;
      margin-left: 36px;
    }
  }

  &--challenge__login-header--desktop {
    .stretchChildrenWidth {
      flex: unset;
      margin: 0;
    }

    :global(.vtex-login-2-x-container) {
      padding-right: 12px;

      :global(.vtex-login-2-x-profile) {
        display: none;
      }
    }
  }
}

.flexCol {
  &--tooltip-social {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  // &--logo-b2bcressi-desk {
  //   width: 16% !important;
  //   margin-right: 2.25rem;
  // }

  // &--search-link-desk {
  //   width: 84% !important;
  // }
}

// .flexColChild {
//   &--tooltip-social {
//     padding: 0 1rem 0;
//   }
// }
