.container {
  &--header__tooltip--text {
    .paragraph {
      margin: 0;
      @include text($font-size-xs - 1, $white, $bold, $secondary-font);
      display: flex;
      align-items: center;
    }

    .image {
      padding-right: 7px;
    }
  }

  &--text-collection-menu {
    width: 100%;
    display: block;
  }
}

.paragraph {
  &--header__login--mobile {
    @include text($font-size-sm, $white, $regular);
    line-height: 21px;
    margin: 0;

    .link {
      color: $color-1-500;
    }
  }

  &--header-mob__text {
    @include text($font-size-sm, $text-pure-500, $regular);
    line-height: 13px;
    margin: 0;
    display: flex;
    align-items: center;

    .link {
      color: $color-1-500;
    }
  }

  &--title-menu {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: $white;
  }

  &--text-collection-menu {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }
}

.link {
  &--text-collection-menu {
    border-radius: 6px;
    background: #40d6c6;
    color: $white;
    text-decoration: none;
    padding: 1rem 2rem;
  }
}
