.container {
  &--header__tooltip--text {
    .paragraph {
      margin: 0;
      @include text($font-size-xs - 1, $white, $bold, $secondary-font);
      font-style: italic;
      display: flex;
      align-items: center;
    }

    .image {
      padding-right: 7px;
    }
  }

  &--header__tooltip--text-mob {
    .paragraph {
      color: #000;
    }
  }

  &--header__tooltip--text-social {
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 19px;

      &::before {
        content: '';
        width: 1px;
        height: 20px;
        background: #fff;
      }
    }

    .paragraph {
      padding: 0 1rem 0 1.75rem;
    }
  }
  &--text-collection-menu {
    width: 100%;
    display: block;
  }
}

.paragraph {
  &--header__login--mobile {
    @include text($font-size-sm, $white, $regular);
    line-height: 21px;
    margin: 0;

    .link {
      color: $color-1-500;
    }
  }

  &--header-mob__text {
    @include text($font-size-sm, $text-pure-500, $regular);
    line-height: 13px;
    margin: 0;
    display: flex;
    align-items: center;

    .link {
      color: $color-1-500;
    }
  }

  &--title-menu {
    color: #000;
    font-family: $secondary-font;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }

  &--text-collection-menu {
    display: flex;
    justify-content: space-between;
    color: #515151;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
    max-width: 415px;
  }
}

.heading {
  &--text-collection-menu {
    color: #000;
    font-family: $secondary-font;
    font-size: 17px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 12px 0;
  }
}

.link {
  &--text-collection-menu {
    border-radius: 5px;
    background: #ffdb00;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding: 11px 28px;
    margin-top: 1rem;
  }
}
