.list {
  &--all-home-banners-renderer--image-1,
  &--all-home-banners-renderer--image-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include tablet {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.item {
  &--all-home-banners-renderer--image-1 {
    &:first-child {
      @include tablet {
        padding-bottom: 0.75rem;
      }
    }
  }
}

.imageElement {
  &--all-home-banners-renderer {
    border-radius: 0.25rem;

    @include desktop {
      max-width: 99%;
    }
  }
}
