.flexRow {
  &--home__deals {
    border-bottom: 0.063rem solid $color-5-700;
    padding: 2rem 0;

    @include tablet {
      padding: 0.625rem 0;
    }
  }

  &--home__slider {
    background-color: $color-5-400;
    margin-bottom: 4rem;
    padding: 4rem 0;
  }

  &--all-home__image-list-home {
    margin-top: 2.938rem;
    margin-bottom: 1.125rem;
  }
}

.flexRowContent {
  &--home__footer--high {
    .stretchChildrenWidth {
      padding: 0.375rem;
      width: auto !important;
    }
  }

  &--home__slider {
    @extend %container-large;
  }

  &--home__deals {
    @extend %container-large;

    @include tablet {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    .stretchChildrenWidth {
      @include tablet {
        flex: 0 0.1 auto;
      }
    }
  }

  &--shelf,
  &--home__sales-banner {
    @extend %container-large;

    .stretchChildrenWidth {
      @include desktop {
        margin-right: 0.625rem;
      }

      @include tablet {
        margin-bottom: 0.625rem;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--home__banner-duo-main {
    gap: 1rem;
    margin: 4rem auto !important;
  }

  &--home__categories-banner {
    &--col {
      .stretchChildrenWidth {
        &:hover {
          box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 30%);
        }
      }
    }
  }

  &--home__categories-banner,
  &--home__more-categories-banner {
    @extend %container-large;

    &--col {
      display: flex;
      flex-wrap: nowrap;
      gap: 0.75rem;
      @include tablet {
        flex-direction: column;
      }
    }

    .stretchChildrenWidth {
      border-radius: 0.625rem;
      flex-grow: 1;
    }
  }
}

.flexColChild {
  &--all-home__image-list-home {
    padding-bottom: 0.75rem;
  }
}
