@import "mixins/text";
@import "extends/titles";
@import "mixins/links";

.container {
  &--search__categories-banner {
    .wrapper {
      width: 100%;
      text-align: left;
    }

    .heading {
      @extend %big-title-section;

      margin: 0 !important;
    }

    .paragraph {
      @include text($font-size-sm, $text-color-1-400, $normal);
    }

    .link {
      @include link($font-size-xs, $color-2-500, $bold, underline);
    }
  }
}
