.sliderLayoutContainer {
  &--home__shelf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.sliderTrackContainer {
  &--home__shelf {
    // padding-bottom: 1.5rem;
    // padding-top: 1rem;
  }

  &--home__shelf-simple {
    // @include desktop {
    //   margin-left: -25px;
    // }
  }
}

.sliderTrack {
  &--home__shelf-simple {
    @include desktop {
      gap: 0 24px;
    }
  }
}

.sliderArrows {
  &--home__shelf {
    .caretIcon {
      width: 10px;
      height: 10px;
      overflow: visible;

      @include tablet {
        width: 4px;
        height: 10px;
      }
    }
  }
}

.sliderLeftArrow {
  &--home__shelf {
    // padding: 10px 15px;
    margin: 0;
    position: absolute;
    left: -35px;

    @media (max-width: 1300px) {
      left: 0;
    }

    @include tablet {
      left: -10px;
    }
  }

  // &--home__shelf-simple {
  //   top: -62px;
  //   right: 57px;
  // }
}

.sliderRightArrow {
  &--home__shelf {
    // padding: 10px 15px;
    margin: 0;
    position: absolute;
    right: -35px;

    @media (max-width: 1300px) {
      right: 0px;
    }

    @include tablet {
      right: -10px;
    }
  }

  // &--home__shelf-simple {
  //   top: -62px;
  //   right: 0;
  // }
}

// .caretIcon {
//   &--home__shelf {
//     width: 13px;
//     height: 23px;
//     max-height: 100%;
//     max-width: 100%;

//     @include tablet {
//       width: 10px;
//       height: 20px;
//     }
//   }
// }

.slideChildrenContainer {
  &--home__shelf {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
}
