.flexRow {
  &--home__shelf-1 {
    @media (min-width: 768px) {
      padding-top: 28px;
    }
  }
}

.flexRowContent {
  &--home__shelf {
    @extend %container-large;
  }

  &--home__shelf--col,
  &--shelf--col {
    align-items: flex-start;

    @include tablet {
      padding: 0px 12px 2rem;
    }

    @include tablet-min {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .stretchChildrenWidth {
        width: 100% !important;
      }
    }
  }
}

.flexCol {
  &--home__shelf--group-col {
    @include desktop {
      padding-left: 20.5px;
    }
  }
}

.flexColChild {
  &--home__shelf-2--col {
    padding-bottom: 25px;

    @include tablet {
      padding-bottom: 0;
    }
  }
}
