.flexCol {
  &--tab-layout-container {
    padding: 1.5rem;
    border-radius: 1rem;
    background: #f9f9f9;
    width: 100%;
    max-width: 53.8125rem;
  }

  &--story-background {
    max-width: 50rem;
  }

  &--story-background-text {
    background-color: $secondary-light-50;
    clip-path: polygon(0 0, 87% 0, 100% 100%, 12% 100%);
    height: 47.6875rem;
  }

  &--story-mobile-background-text {
    background-image: url('assets/img/home/background-clip-path.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    padding: 0 1.5rem;
    height: 32.5rem;

    @media (min-width: 442px) and (max-width: 500px) {
      height: 36.5rem;
    }

    @media (min-width: 501px) and (max-width: 580px) {
      height: 40.5rem;
    }

    @media (min-width: 581px) and (max-width: 643px) {
      height: 44.5rem;
    }
  }

  &--background-story-mobile {
    background-color: $low-dark;
  }

  &Child {
    &--story-mobile-background-text {
      height: 100%;
      display: flex;
      align-items: end;
      justify-content: flex-end;
    }

    &--story-mobile-background {
      background-color: $low-dark;

      @media (min-width: 641px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &--new-tech {
      margin-bottom: 7.25rem;

      @include tablet {
        margin-bottom: 1.25rem;
      }
    }

    &--background-story-mobile {
      @media (min-width: 775px) {
        margin-top: 20rem;

        :global(.vtex-rich-text-0-x-paragraph--story-mobile-text),
        :global(.vtex-rich-text-0-x-paragraph--story-text) {
          color: $white;
        }
      }
    }

    &--first-banner {
      width: 100%;
      text-align: center;

      @include desktop {
        :global(.vtex-store-components-3-x-imageElement) {
          padding: 0.875rem 1rem;
        }
      }
    }

    &--second-banner {
      @include desktop {
        width: auto;
      }
    }
  }
}

.flexRow {
  &--first-banner {
    :global(.vtex-store-components-3-x-container) {
      @include tablet {
        padding: 0;
      }
    }
  }

  &--story-background {
    background-color: $low-dark;
    height: 38.125rem;
    position: relative;
    margin-top: 11.5rem;
    margin-bottom: 8rem;
    display: block;

    :global(.vtex-store-components-3-x-container) {
      @media (max-width: 768px) {
        padding: 0;
      }
    }
  }

  &--story-mobile-background {
    // background-color: $low-dark;

    :global(.vtex-store-components-3-x-container) {
      padding: 0;
    }

    @include tablet {
      margin-top: 1.5rem;
    }
  }

  &--home__selecao {
    margin-top: -20px;

    @media (max-width: 768px) {
      margin-top: -10px;
    }
  }

  &--instagram {
    @extend %container;
    margin-bottom: 2.06rem !important;

    @include desktop {
      margin-bottom: 5rem !important;
    }

    :global(.vtex-store-components-3-x-container) {
      @include tablet {
        padding-right: 0;
      }
    }
  }

  &--home__insta-title {
    @extend %container;
  }

  .flexRowContent {
    &--story-background {
      position: relative;
      width: 100%;
      height: 38rem;
      justify-content: center;
      align-items: center;

      :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        position: absolute;

        &:first-child {
          z-index: 1;
          left: 40px;
        }

        &:last-child {
          right: 143px;

          @media (max-width: 1290px) and (min-width: 1000px) {
            right: 79px;
          }
        }
      }
    }

    &--story-mobile-background {
      position: relative;
      overflow: hidden;
      padding-top: 1rem;

      :global(.vtex-store-components-3-x-imageElement) {
        position: relative;
        z-index: 2;

        @media (min-width: 641px) and (max-width: 768px) {
          width: 56%;
          height: auto;
        }

        @media (min-width: 769px) {
          width: 38%;
        }
      }

      @media (min-width: 641px) {
        flex-direction: column;

        .stretchChildrenWidth {
          width: auto !important;
        }
      }
    }

    &--tab-layout-container {
      margin-bottom: 8rem;

      @include tablet {
        margin-bottom: 0rem;
      }
    }
  }
}
