.container {
  &--home__title {
    .wrapper {
      width: 100%;
      text-align: left;

      @include tablet {
        padding: 0 1.6rem;
      }

      @media (max-width: 360px) {
        max-width: 275px;
      }
    }

    .heading {
      @include text($font-size-h3, #515151, $regular);
      text-transform: uppercase;
      margin: 0;
      font-style: italic;

      @include tablet {
        font-size: $font-size-h3;
        padding: 1rem 0;
      }
    }

    .paragraph {
      @include text($font-size-md + 1, $low-pure, $regular);
      text-transform: uppercase;
      margin: 0;

      @include tablet {
        font-size: $font-size-xs;
      }
    }

    .strong {
      @include text($font-size-h3, #515151, $extra-bold);
      text-transform: uppercase;
      margin: 1.5rem 0;

      @include tablet {
        font-size: $font-size-h3;
      }
    }
  }
}
