.container {
  &--home__title {
    .wrapper {
      width: 100%;
      text-align: left;
    }

    .heading {
      @include text($font-size-md + 1, $low-pure, $regular);
      line-height: 21px;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      margin: 0;

      @include tablet {
        font-size: 12px;
        letter-spacing: 4.8px;
        line-height: 14.63px;
      }
    }

    .paragraph {
      @include text($font-size-md + 1, $low-pure, $regular);
      line-height: 21px;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      margin: 0;

      @include tablet {
        font-size: 12px;
        letter-spacing: 4.8px;
        line-height: 14.63px;
      }
    }

    .strong {
      @include text($font-size-md + 1, $primary-pure-500, $extra-bold);
      line-height: 21px;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      margin: 0;

      @include tablet {
        font-size: 12px;
        letter-spacing: 4.8px;
        line-height: 14.63px;
      }
    }
  }
}
